<h1 class="p-4">I nostri veicoli</h1>
<app-table></app-table>
<!--Create veicolo----------------------------------------------->
<div class="d-flex flex-column align-items-center container">
  <h2>Nuovo veicolo</h2>
  <form #veicoliForm="ngForm" class="my-form flex-column" (ngSubmit)="creaVeicolo(veicoliForm)">
    <h3>Inserisci i dati del veicolo</h3>
    <div class="row row-cols-2 row-cols-md-3 justify-content-center">

      <!--Tipo veicolo-->
      <div class="mb-3 col">
        <label for="tipo_veicolo_nome" class="form-label">Tipo veicolo</label>
        <select
          id="tipo_veicolo_nome"
          class="form-select"
          required
          [(ngModel)]="selectedTipoVeicoloId"
          (ngModelChange)="onTipeVeicoloChange(selectedTipoVeicoloId)"
          name="tipo_veicolo_nome"
          #tipo_veicolo_nome="ngModel"
        >
          <option
            *ngFor="let tipoVeicolo of tipiVeicoli"
            [value]="tipoVeicolo.id"
          >
            {{ tipoVeicolo.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedTipoVeicoloId == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare una tipologia di veicolo.
        </div>
      </div>
      <!--Marca-->
      <div class="mb-3 col">
        <label for="marca" class="form-label">Marca</label>
        <select
          id="marca"
          class="form-select"
          required
          [(ngModel)]="selectedMarcaId"
          (ngModelChange)="onMarcaChange(selectedMarcaId)"
          name="marca"
          #marca="ngModel"
        >
          <option *ngFor="let marca of marche" [value]="marca.id">
            {{ marca.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedMarcaId == null && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare una marca.
        </div>
      </div>
      <!--Modello-->
      <div class="mb-3 col">
        <label for="modello" class="form-label">Modello</label>
        <select
          id="modello"
          class="form-select"
          [disabled]="!selectedMarcaId"
          required
          [(ngModel)]="selectedModelloId"
          (ngModelChange)="onModelloChange(selectedModelloId)"
          name="modello"
          #modello="ngModel"
        >
          <option *ngFor="let modello of modelli" [value]="modello.id">
            {{ modello.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedModelloId == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare un modello.
        </div>
      </div>
      <!--Cilindrata-->
      <div class="mb-3 col">
        <label for="cilindrata" class="form-label">Cilindrata</label>
        <input
          type="number"
          class="form-control"
          id="cilindrata"
          min="0"
          [(ngModel)]="veicoloForm.cilindrata"
          name="cilindrata"
          #cilindrata="ngModel"
        />
      </div>
      <!--Colore-->
      <div class="mb-3 col">
        <label for="colore" class="form-label">Colore</label>
        <input
          type="text"
          class="form-control"
          id="colore"
          [(ngModel)]="veicoloForm.colore"
          name="colore"
          #colore="ngModel"
        />
      </div>
      <!--Destinazione d'uso-->
      <div class="mb-3 col">
        <label for="destinazione_uso_nome" class="form-label"
          >Destinazione d'uso</label
        >
        <select
          id="destinazione_uso_nome"
          class="form-select"
          [(ngModel)]="selectedDestinazioneUsoId"
          required
          (ngModelChange)="onDestinazioneUsoChange(selectedDestinazioneUsoId)"
          name="destinazioneUso"
        >
          <option
            *ngFor="let destinazione of destinazioni"
            [value]="destinazione.id"
          >
            {{ destinazione.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedDestinazioneUsoId == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare la destinazione d'uso
        </div>
      </div>
      <!--Massa-->
      <div class="mb-3 col">
        <label for="massa" class="form-label">Massa</label>
        <input
          type="text"
          class="form-control"
          id="massa"
          pattern="[0-9]*"
          min="0"
          [(ngModel)]="veicoloForm.massa"
          name="massa"
        />
      </div>
      <!--Numero assi-->
      <div class="mb-3 col">
        <label for="numero_assi" class="form-label">Numero assi</label>
        <input
          type="number"
          class="form-control"
          id="numero_assi"
          min="0"
          [(ngModel)]="veicoloForm.numero_assi"
          required
          name="numero_assi"
        />

        <div
          *ngIf="veicoloForm.numero_assi == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare il numero di assi.
        </div>
      </div>
      <!--Portata-->
      <div class="mb-3 col">
        <label for="portata" class="form-label">Portata</label>
        <input
          type="number"
          class="form-control"
          id="portata"
          [(ngModel)]="veicoloForm.portata"
          min="0"
          name="portata"
        />
      </div>
      <!--Potenza-->
      <div class="mb-3 col">
        <label for="potenza" class="form-label">Potenza</label>
        <input
          type="number"
          class="form-control"
          id="potenza"
          [(ngModel)]="veicoloForm.potenza"
          min="0"
          name="potenza"
        />
      </div>
      <!--Società-->
      <div class="mb-3 col">
        <label for="societa_nome" class="form-label">Società</label>
        <select
          id="societa_nome"
          class="form-select"
          [(ngModel)]="selectedSocietaId"
          required
          (ngModelChange)="onSocietaChange(selectedSocietaId)"
          name="societa"
        >
          <option *ngFor="let societa of societas" [value]="societa.id">
            {{ societa.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedSocietaId == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare la società proprietaria del veicolo.
        </div>
      </div>
      <!--Targa-->
      <div class="mb-3 col">
        <label for="targa" class="form-label">Targa</label>
        <input
          type="text"
          class="form-control"
          id="targa"
          [(ngModel)]="veicoloForm.targa"
          minlength="5"
          maxlength="10"
          pattern="[a-zA-Z0-9]*"
          name="targa"
          #targa="ngModel"
          
        />
<!--(input)="onInput()"-->
        <div *ngIf="formSubmitted" class="alert text-danger ps-0">
          <div
            *ngIf="targa.errors?.['minlength'] || targa.errors?.['maxlength']"
          >
            La targa inserita è incompleta.
          </div>
        </div>
      </div>
      <!--Telaio-->
      <div class="mb-3 col">
        <label for="telaio" class="form-label">Telaio</label>
        <input
          type="text"
          class="form-control"
          id="telaio"
          [(ngModel)]="veicoloForm.telaio"
          required
          name="telaio"
          minlength="17"
          maxlength="17"
          #telaio="ngModel"
        />

        <div *ngIf="formSubmitted" class="alert text-danger ps-0">
          <div *ngIf="telaio.errors?.['required']">Il telaio è obbligatoria.</div>
          <div
            *ngIf="telaio.errors?.['minlength'] || telaio.errors?.['maxlength']"
          >
            Il numero di telaio inserito è incompleto.
          </div>
          <!--<div *ngIf="formSubmitted" class="alert text-danger ps-0">
            Questo numero telaio è già presente nel database.
          </div>-->
        </div>
        </div>
      <!--Tipo alimentazione-->
      <div class="mb-3 col">
        <label for="tipo_alimentazione_nome" class="form-label"
          >Alimentazione</label
        >
        <select
          id="tipo_alimentazione_nome"
          name="alimentazione"
          class="form-select"
          [(ngModel)]="selectedAlimentazioneId"
          required
          (ngModelChange)="onAlimentazioneChange(selectedAlimentazioneId)"
        >
          <option
            *ngFor="let tipoAlimentazione of tipiAlimentazione"
            [value]="tipoAlimentazione.id"
          >
            {{ tipoAlimentazione.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedAlimentazioneId == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare un tipo di alimentazione.
        </div>
      </div>
      <!--Allestimento-->
      <div class="mb-3 col">
        <label for="tipo_allestimento_nome" class="form-label"
          >Allestimento</label
        >
        <select
          id="tipo_allestimento_nome"
          class="form-select"
          [(ngModel)]="selectedAllestimentoId"
          required
          (ngModelChange)="onAllestimentoChange(selectedAllestimentoId)"
          name="allestimento"
        >
          <option
            *ngFor="let allestimento of allestimenti"
            [value]="allestimento.id"
          >
            {{ allestimento.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedAllestimentoId == 0 && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare un tipo di allestimento.
        </div>
      </div>
      <!-- Tipo asse-->
      <div class="mb-3 col">
        <label for="tipo_asse_nome" class="form-label">Tipo asse</label>
        <select
          id="tipo_asse_nome"
          class="form-select"
          [(ngModel)]="selectedTipoAsseId"
          required
          (ngModelChange)="onTipoAsseChange(selectedTipoAsseId)"
          name="tipoAsse"
        >
          <option *ngFor="let tipoAsse of tipiAsse" [value]="tipoAsse.id">
            {{ tipoAsse.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedTipoAsseId == null && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare un tipo di asse.
        </div>
      </div>
      <!--Cambio-->
      <div class="mb-3 col">
        <label for="tipo_cambio_nome" class="form-label">Cambio</label>
        <select
          id="tipo_cambio_nome"
          class="form-select"
          [(ngModel)]="selectedCambioId"
          required
          (ngModelChange)="onCambioChange(selectedCambioId)"
          name="cambio"
        >
          <option *ngFor="let tipoCambio of tipiCambio" [value]="tipoCambio.id">
            {{ tipoCambio.nome }}
          </option>
        </select>

        <div
          *ngIf="selectedCambioId == null && formSubmitted"
          class="alert text-danger ps-0"
        >
          Selezionare un tipo di cambio.
        </div>
      </div>
      <!--Larghezza esterna-->
      <div class="mb-3 col">
        <label for="larghezza_esterna" class="form-label"
          >Larghezza esterna</label
        >
        <input
          type="number"
          class="form-control"
          id="larghezza_esterna"
          min="0"
          [(ngModel)]="veicoloForm.larghezza_esterna"
          name="larghezza_esterna"
          #larghezza_esterna="ngModel"
        />
      </div>
      <!--Lunghezza esterna-->
      <div class="mb-3 col">
        <label for="lunghezza_esterna" class="form-label"
          >Lunghezza esterna</label
        >
        <input
          type="number"
          class="form-control"
          id="lunghezza_esterna"
          min="0"
          [(ngModel)]="veicoloForm.lunghezza_esterna"
          name="lunghezza_esterna"
          #lunghezza_esterna="ngModel"
        />
      </div>
      <!--Note-->
      <div class="mb-3 col">
        <label for="note" class="form-label">Note</label>
        <input
          type="text"
          class="form-control"
          id="note"
          [(ngModel)]="veicoloForm.note"
          name="note"
          #note="ngModel"
        />
      </div>
      <!--Altre caratteristiche-->
      <div class="mb-3 col">
        <label for="altre_caratteristiche" class="form-label"
          >Altre caratteristiche</label
        >
        <input
          type="text"
          class="form-control"
          id="altre_caratteristiche"
          [(ngModel)]="veicoloForm.altre_caratteristiche"
          name="altre_caratteristiche"
          #altre_caratteristiche="ngModel"
        />
      </div>
      <!--Data immatricolazione-->
      <div class="mb-3 col">
        <label for="data_immatricolazione" class="form-label">Data immatricolazione</label>
        <app-datepicker id="data_immatricolazione" (dateChange)="handleDateChange($event)"></app-datepicker>
      </div>
      
      <div class="container w-100">
        <div class="row">
          <!--Stato-->
          <div class="mb-3 col col-12 col-md-6 d-flex flex-column">
            <label class="form-label d-block">Stato</label>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="stato" id="irregolare" value="3"
                [(ngModel)]="selectedStatoId" (ngModelChange)="onStatoChange(selectedStatoId)">
              <label class="form-check-label" for="irregolare">Irregolare</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="stato" id="gravementeIrr" value="2"
                [(ngModel)]="selectedStatoId" (ngModelChange)="onStatoChange(selectedStatoId)">
              <label class="form-check-label" for="gravementeIrr">Gravemente irregolare</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="stato" id="regolare" value="1" [(ngModel)]="selectedStatoId"
                (ngModelChange)="onStatoChange(selectedStatoId)">
              <label class="form-check-label" for="regolare">Regolare</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="stato" id="nessunoStato" value="0"
                [(ngModel)]="selectedStatoId" (ngModelChange)="onStatoChange(selectedStatoId)">
              <label class="form-check-label" for="nessunoStato">Nessuno stato</label>
            </div>

          </div>
          <!--Disponibilità-->
          <div class="mb-3 col col-12 col-md-6 d-flex flex-column">
            <label class="form-label d-block">
              Disponibilità
            </label>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="disponibilita" id="disponibile" value="1"
                [(ngModel)]="selectedDisponibilitaId" (ngModelChange)="onDisponibilitaChange(selectedDisponibilitaId)">
              <label class="form-check-label" for="disponibile">Disponibile</label>
            </div>

            <div class="form-check form-check-inline">    
              <input class="form-check-input" type="radio" name="disponibilita" id="nonDisponibile" value="2"
                [(ngModel)]="selectedDisponibilitaId" (ngModelChange)="onDisponibilitaChange(selectedDisponibilitaId)">
              <label class="form-check-label" for="nonDisponibile">Non disponibile</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="disponibilita" id="nessunaDisponibilita" value="0"
                [(ngModel)]="selectedDisponibilitaId" (ngModelChange)="onDisponibilitaChange(selectedDisponibilitaId)">
              <label class="form-check-label" for="nessunaDisponibilita">Nessuna disponibilità</label>
            </div>

          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn my-btn btn-primary"
       
      >
        Salva veicolo
      </button>
       <!--(click)="creaVeicolo()"-->
    </div>
  </form>

</div>
