<!--Searching by id-->
<form id="search-form">
  <div class="mb-3 row justify-content-center">
    <label
      for="table-filtering-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Inserisci il numero identificativo del veicolo:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-filtering-search"
        class="form-control"
        type="text"
        [formControl]="filter"
      />
    </div>
  </div>
</form>

<h2 class="text-center">Tagliandi</h2>

<!--Spinner-->
<div *ngIf="spinner" class="d-flex justify-content-center" id="spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table class="table table-striped ms-2">
  <thead>
    <tr>
      <th scope="col">Nr. id rev.</th>
      <th scope="col">Nr. id. veicolo</th>
      <th scope="col">Anno</th>
      <th scope="col">Data pagamento</th>
      <th scope="col">Inizio validità</th>
      <th scope="col">Fine validità</th>
      <th scope="col">Importo</th>
      <th scope="col" class="d-none d-sm-table-cell">Polizza</th>
      <th scope="col" class="d-none d-sm-table-cell">Tipo scadenza</th>
      <th scope="col" class="d-none d-sm-table-cell">Agenzia</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let tagliando of tagliandiToShow">
      <th scope="row">{{ tagliando.id }}</th>
      <td>{{ tagliando.id_veicolo }}</td>
      <td>{{ tagliando.anno }}</td>
      <td>{{ tagliando.data_pagamento }}</td>
      <td>{{ tagliando.inizio_validita }}</td>
      <td class="d-none d-lg-table-cell">{{ tagliando.fine_validita }}</td>
      <td class="d-none d-md-table-cell">€{{ tagliando.importo }}</td>
      <td class="d-none d-sm-table-cell">{{ tagliando.polizza }}</td>
      <td class="d-none d-sm-table-cell">{{ tagliando.tipo_scadenza }}</td>
      <td class="d-none d-sm-table-cell">{{ tagliando.agenzia }}</td>
    </tr>
  </tbody>
</table>

<!--Pagination-->
<div class="d-flex flex-column flex-lg-row justify-content-between p-2 ms-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshTagliandi()"
    [maxSize]="4"
    [rotate]="true"
    [boundaryLinks]="true"
    [directionLinks]="true"
    id="pag"
  >
    >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshTagliandi()"
    name="pagination"
  >
    <option [ngValue]="2">Visualizza 2 tagliandi per pagina</option>
    <option [ngValue]="4">Visualizza 4 tagliandi per pagina</option>
    <option [ngValue]="6">Visualizza 6 tagliandi per pagina</option>
  </select>
</div>

<hr />
