.my-form{
    background-image:url('../../../assets/Sfondo canva.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    background: #f0f8ff69;
    border:0;
}