.my-form{
    background-image:url('../../../assets/Sfondo canva.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #779eb65e !important;
    background-blend-mode: lighten !important;
}

form{
    background: #f0f8ff69;
    border:0;
    //box-shadow: 3px 3px 20px 20px #80808045, inset 20em 6px 11em 17px #80808038;
}
#register{
text-decoration: none;
font-size: xx-large;
color: rgb(0, 0, 36) !important;
};
#register:hover{
    color: #2843F0 !important;
}
