<div class="my-form">
  <form class="w-100" #loginForm="ngForm">
    <h2 class="text-center">Login</h2>
    <hr />

    <div class="mb-3">
      <label for="email" class="form-label">Indirizzo email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        required
        email
        placeholder="Inserisci la tua email"
        [(ngModel)]="formData.email"
        #email="ngModel"
        aria-describedby="emailHelp"
        autocomplete="current-email"
      />
      <!--check 'touched' property-->
      <div
        *ngIf="email.errors && email.touched && formSubmitted"
        class="alert text-danger ps-0"
      >
        <div *ngIf="email.errors?.['required']">
          Indirizzo email obbligatorio
        </div>

        <div *ngIf="email.errors?.['email']">
          Inserire un indirizzo email valido
        </div>
      </div>
    </div>

    <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
</div>-->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <!--<input type="password" class="form-control" name="password" [(ngModel)]="formData.password">-->
      <div class="input-group container-fluid p-0">
        <div class="row w-100">
          <div class="col col-8 pe-0">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              id="password"
              name="password"
              class="form-control"
              required
              minlength="8"
              placeholder="Inserisci una password"
              [(ngModel)]="formData.password"
              #password="ngModel"
              autocomplete="current-password"
            />
          </div>
          <div class="col col-4 p-0">
            <button
              type="button"
              class="form-control"
              (click)="togglePasswordVisibility()"
            >
              <i *ngIf="!passwordVisible" class="bi bi-eye"></i>
              <i *ngIf="passwordVisible" class="bi bi-eye-slash"></i>
            </button>
          </div>
          <div
            *ngIf="password.invalid && formSubmitted"
            class="alert text-danger"
          >
            <div *ngIf="password.errors?.['required']">
              Password obbligatoria.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password incorretta.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>-->

    <button type="button" class="btn my-btn btn-primary" (click)="login()">
      Login
    </button>

    <p
      class="text-danger fw-bold"
      *ngIf="formSubmitted"
      [ngClass]="isLoginOk ? 'dNone' : 'dBlock'"
    >
      Impossibile effettuare il login. Email o password non valide.
    </p>
    <hr />

    <!--<div class="d-flex flex-column align-items-center">
      <h2>Non sei ancora registrato?</h2>
      <h5><a routerLink="/auth/register" id="register">Registrati</a></h5>
    </div>-->
  </form>
</div>
