<div class="m-5 container">
  <div class="row">
    <h2>Dettagli:</h2>
    <hr />

    <div class="col">
      <p class="text-decoration-underline">{{ tipo }}</p>
      <p class="fst-italic" *ngIf="manutenzione">
        Nr. identificativo: {{ tipo }}: <span class="fst-normal">{{ manutenzione.id }}</span>
      </p>
      <p class="fst-italic" *ngIf="manutenzione">
        Nr. id veicolo:
        <span class="fst-normal">{{ manutenzione.id_veicolo }}</span>
      </p>
      <p class="fst-italic">
        Targa: <span class="fst-normal">{{ manutenzione?.targa }}</span>
      </p>
      <p class="fst-italic">
        Anno: <span class="fst-normal">{{ manutenzione?.anno }}</span>
      </p>
      <p class="fst-italic">
        Data pagamento: <span class="fst-normal">{{ manutenzione?.data_pagamento}}</span>
      </p>
      <p class="fst-italic">
        Inizio validità: <span class="fst-normal">{{ manutenzione?.inizio_validita }}</span>
      </p>
      <p class="fst-italic">
        Fine validità: <span class="fst-normal">{{ manutenzione?.fine_validita }}</span>
      </p>
      <p class="fst-italic">
        Importo: <span class="fst-normal">{{ manutenzione?.importo }}</span>
      </p>
   
      <p class="fst-italic">
        Note: <span class="fst-normal">{{ manutenzione?.note }}</span>
      </p>
      
      <hr />
    </div>

  </div>
</div>
