<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!--Logo-->
      <a routerLink="../../pages/home" class="navbar-brand">
        <img alt="Logo" src="http://torental.bentraining.it/assets/media/logos/logo-furgoni-2.svg" class="app-sidebar-logo-default">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a routerLink="../../pages/home" class="nav-link active navbar-brand" aria-current="page">Home</a>

<!--Dropdown veicoli
<li class="nav-item dropdown">
          <a class="nav-link active navbar-brand dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Veicoli
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="../../pages/veicoli">Aggiungi un nuovo veicolo</a></li>
            <li><a class="dropdown-item" routerLink="#">Visualizza la lista di tutti i veicoli</a></li>
          </ul>
        </li>-->
        <a routerLink="../pages/veicoli" class="nav-link active navbar-brand" aria-current="page">Veicoli</a>

        <!--User icon-->
        <div class="d-flex">
        <a appAuthStatusToggle routerLink="../../auth/login" class="nav-link active navbar-brand" aria-current="page">
          <img src="../../../assets/icons/user.png" id="user-icon"/>
          Login
        </a>
        </div>

        <!--prova guard e auth-->
        <a routerLink="../../pages/dashboard" class="nav-link active navbar-brand" aria-current="page">
          dashboard
        </a>

        </div>
      </div>
    </div>
  </nav>