//Logo
img{
    width: 10em;
}
//User icon
#user-icon{
    width: 1.5em;

}

.navbar{
    background-color: rgba(196, 4, 4, 0.98);

}
@media screen and (min-width: 476px) {

}

@media screen and (min-width: 576px) {
    .navbar{
        background-color: rgb(52, 58, 64, 0.54);
        height: 100vh;
        position: relative;
    }
  #fixing-sidebar{
    position: fixed;
  }
}

@media screen and (min-width: 768px) {


}

@media screen and (min-width: 992px) {


}

@media screen and (min-width: 1200px) {


}
@media screen and (min-width: 1400px) {

}
