//Logo
img{
    width: 10em;
}
//User icon
#user{
  padding: 5px 8px;
}
//icons
i{
 font-size: xx-large;
}

.navbar{
    //background-color: #779eb65e;
    display: flex;
    flex-direction: row-reverse;
}
#fixing-sidebar{
  height: inherit;
  width: 100%;
}
.navbar-brand{
  width: 25%;
}
.navbar-toggler{
  width: 15%;
  height: fit-content;
}
.container-fluid{
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 476px) {

}

@media screen and (min-width: 576px) {
    .navbar{
        //background-color: #779eb65e;
        height: 100vh;
        position: relative;
    }
  .container-fluid{
    flex-direction: column;
  }
  #fixing-sidebar{
    position: fixed;
  }

  //reset x md
  .navbar{
    display: flex;
    flex-direction: column;
  }
  #fixing-sidebar{
    height: 100%;
    width: 10%;
  }
  .navbar-brand{
    width: 100%;
  }
  .navbar-toggler{
    //display: none;
    width: fit-content;
    height: fit-content;
  }
  .container-fluid{
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    align-items: center;
  }

}

@media screen and (min-width: 768px) {


}

@media screen and (min-width: 992px) {

}


@media screen and (min-width: 1200px) {


}
@media screen and (min-width: 1400px) {

}
