//Logo
img {
  width: 10em;
}

//User icon
#user {
  padding: 5px 8px;
}

//icons
i {
  font-size: xx-large;
}

a {
  width: auto !important;
  padding: 0.4em 0 0 0;
}

a:hover {
  color: #EC7801 !important;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  color: #16163352;
  position: relative;
}

#fixing-sidebar {
  height: inherit;
  width: 100%;
  position: fixed !important;
}

.navbar-brand {
  width: 25%;
}

//Button
.navbar-toggler {
  width: 15%;
  height: fit-content;
  margin-left: 0.5em;
}

#toggle-btn {
  border: 0 !important;
  background-color: transparent !important;
}

.container-fluid {
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#alert-drop-down {
  background-color: transparent;
  border: 0;
}

#alert-drop-down:hover {
  color: #EC7801 !important;
}

a,
#alert-drop-down {
  font-size: 0.87em;
}

//Dropdown alert div
.dropdown-menu {
  position: absolute;
}

.navbar-nav {
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-left: 10px;
}

@media screen and (min-width: 476px) {}

@media screen and (min-width: 576px) {
  .navbar-nav {
    flex-direction: column;
  }

  .dropdown-menu {
    margin-left: 8em;
  }

  .navbar {
    height: 100vh;
    position: relative;
  }

  #fixing-sidebar {
    position: relative;
  }

  .container-fluid {
    flex-direction: column;
    position: absolute;
  }


  //reset x md
  .navbar {
    display: flex;
    flex-direction: column;
  }

  #fixing-sidebar {
    height: 100%;
    width: 10%;
  }

  .navbar-brand {
    width: 100%;
  }

  //Hamburgher button
  .navbar-toggler {
    width: fit-content;
    height: fit-content;
  }

  .container-fluid {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    margin-left: 0;
    z-index: 1;
  }
}