form {
  margin: 0;
  padding: 0;
}

#header {
  background: linear-gradient(45deg, rgb(0 0 36), transparent);
}

.search-btn {
  border: 0;
  background-color: transparent;
}

i{
      font-size:large;
      cursor: pointer;
}

a{
  color:rgb(0 0 36);
  font-size: 1rem;
}
a:hover{
  color:   #EC7801;
}
nav{
  padding:0;
  height: 70px;
}
svg{
  width: 220px;
}

.flex-nowrap{
  height: inherit;
  border-bottom: 1px solid #EC7801;
}

#right-div{
  height: inherit;
}
.container-fluid{
  position: fixed;
}
.current-page{
  height: inherit;
  display: flex;
  align-items: flex-end;
  background-color: #EC7801;
  padding: 0 1em;
}