form {
  margin: 0;
  padding: 0;
}

#header {
  background: linear-gradient(45deg, rgb(0 0 36), transparent);
}


.search-btn {
  border: 0;
  background-color: transparent;
}

i{
      font-size: 1.5rem;
      cursor: pointer;
}

a{
  color:rgb(0 0 36);
}
a:hover{
  color:   #2843F0;
}
i:hover{
  color:   #2843F0 !important;
}
nav{
  padding:0;
}
