form {
  margin: 0;
  padding: 0;
}

#header {
  background: linear-gradient(45deg, rgb(0 0 36), transparent);
}

.search-btn {
  border: 0;
  background-color: transparent;
}

i{
      font-size: 1.5rem;
      cursor: pointer;
}

a{
  color:rgb(0 0 36);
}
a:hover{
  color:   #2843F0;
}
i:hover{
  color:   #2843F0 !important;
}
nav{
  padding:0;
  height: 70px;
}
svg{
  width: 220px;
}

.flex-nowrap{
  height: inherit;
  border-bottom: 1px solid #EC7801;
}

#right-div{
  height: inherit;
}
.container-fluid{
  position: fixed;
}