#search-by-targa{
    border-top: 0;
    border-right: 0;
    max-width: -webkit-fill-available;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
#spinner{
    color:#EC7801;
}
.spinner-border{
    width: 10em !important;
    height: 10em !important;
    font-size: xx-large !important;
}
i{
    margin: 0.2em;
}
#pag{
    z-index: 0;
}
.form-select{
    width: fit-content !important;
}

#my-form{
   /*max-width: 1100px !important;
   max-height: 200px;
   overflow: scroll;*/
   border-top: 0;
   border-right: 0;
   max-width: -webkit-fill-available;
}

.my-orange-icon{
    color:#EC7801 !important;
}
.my-red-icon{
   color: red !important;
}
.my-green-icon{
   color: green !important;
}
.my-grey-icon{
    color: grey !important;
}

h3{
    text-align: center;
    margin: 1em;
}


