#search-by-targa{
    border-top: 0;
    border-right: 0;
    max-width: -webkit-fill-available;
    padding-bottom: 0;
    margin-bottom: 0;
}
#cerca{
    width: -webkit-fill-available;
}
i{
    margin: 0.2em;
}
i:hover{
    color:#EC7801 !important;
  }
#pag{
    z-index: 0;
}
.form-select{
    width: fit-content !important;
}
#my-form{
   border-top: 0;
   border-right: 0;
   max-width: -webkit-fill-available;
}
.my-orange-icon{
    color:#ffa200 !important;
}
.my-red-icon{
   color: red !important;
}
.my-green-icon{
   color: green !important;
}
.my-grey-icon{
    color: grey !important;
}
h3{
    text-align: center;
    margin: 1em;
}
