<div class="container-fluid">
  <div class="row">
    <div class="col col-12">
      <!--Customized search-->
      <form #veicoliForm="ngForm" id="my-form">
        <h3>Ricerca personalizzata</h3>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
          <!--Tipo veicolo-->
          <div class="mb-3 col">
            <label for="tipo_veicolo_nome" class="form-label"
              >Tipo veicolo</label
            >
            <select
              id="tipo_veicolo_nome"
              class="form-select"
              required
              [(ngModel)]="selectedTipoVeicoloId"
              (ngModelChange)="onTipeVeicoloChange(selectedTipoVeicoloId)"
              name="tipo_veicolo_nome"
              #tipo_veicolo_nome="ngModel"
            >
              <option selected [value]="0">Seleziona un tipo di veicolo</option>
              <option
                *ngFor="let tipoVeicolo of tipiVeicoli"
                [value]="tipoVeicolo.id"
              >
                {{ tipoVeicolo.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedTipoVeicoloId == 0 && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare una tipologia di veicolo.
            </div>
          </div>
          <!--Marca-->
          <div class="mb-3 col">
            <label for="marca" class="form-label">Marca</label>
            <select
              id="marca"
              class="form-select"
              required
              [(ngModel)]="selectedMarcaId"
              (ngModelChange)="onMarcaChange(selectedMarcaId)"
              name="marca"
              #marca="ngModel"
            >
              <option selected [value]="0">Seleziona una marca</option>
              <option *ngFor="let marca of marche" [value]="marca.id">
                {{ marca.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedMarcaId == null && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare una marca.
            </div>
          </div>
          <!--Modello-->
          <div class="mb-3 col">
            <label for="modello" class="form-label">Modello</label>
            <select
              id="modello"
              class="form-select"
              [disabled]="!selectedMarcaId"
              required
              [(ngModel)]="selectedModelloId"
              (ngModelChange)="onModelloChange(selectedModelloId)"
              name="modello"
              #modello="ngModel"
            >
              <option selected [value]="0">Seleziona un modello</option>
              <option *ngFor="let modello of modelli" [value]="modello.id">
                {{ modello.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedModelloId == 0 && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare un modello.
            </div>
          </div>
          <!--Destinazione d'uso-->
          <div class="mb-3 col">
            <label for="destinazione_uso_nome" class="form-label"
              >Destinazione d'uso</label
            >
            <select
              id="destinazione_uso_nome"
              class="form-select"
              [(ngModel)]="selectedDestinazioneUsoId"
              required
              (ngModelChange)="
                onDestinazioneUsoChange(selectedDestinazioneUsoId)
              "
              name="destinazioneUso"
            >
              <option selected [value]="0">
                Seleziona la destinazione d'uso
              </option>
              <option
                *ngFor="let destinazione of destinazioni"
                [value]="destinazione.id"
              >
                {{ destinazione.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedDestinazioneUsoId == 0 && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare la destinazione d'uso
            </div>
          </div>
          <!--Società-->
          <div class="mb-3 col">
            <label for="societa_nome" class="form-label">Società</label>
            <select
              id="societa_nome"
              class="form-select"
              [(ngModel)]="selectedSocietaId"
              required
              (ngModelChange)="onSocietaChange(selectedSocietaId)"
              name="societa"
            >
              <option selected [value]="0">Seleziona una società</option>
              <option *ngFor="let societa of societas" [value]="societa.id">
                {{ societa.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedSocietaId == 0 && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare la società proprietaria del veicolo.
            </div>
          </div>
          <!--Tipo alimentazione-->
          <div class="mb-3 col">
            <label for="tipo_alimentazione_nome" class="form-label"
              >Alimentazione</label
            >
            <select
              id="tipo_alimentazione_nome"
              name="alimentazione"
              class="form-select"
              [(ngModel)]="selectedAlimentazioneId"
              required
              (ngModelChange)="onAlimentazioneChange(selectedAlimentazioneId)"
            >
              <option selected [value]="0">
                Seleziona un tipo di alimentazione
              </option>
              <option
                *ngFor="let tipoAlimentazione of tipiAlimentazione"
                [value]="tipoAlimentazione.id"
              >
                {{ tipoAlimentazione.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedAlimentazioneId == 0 && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare un tipo di alimentazione.
            </div>
          </div>
          <!--Allestimento-->
          <div class="mb-3 col">
            <label for="tipo_allestimento_nome" class="form-label"
              >Allestimento</label
            >
            <select
              id="tipo_allestimento_nome"
              class="form-select"
              [(ngModel)]="selectedAllestimentoId"
              required
              (ngModelChange)="onAllestimentoChange(selectedAllestimentoId)"
              name="allestimento"
            >
              <option selected [value]="0">
                Seleziona un tipo di allestimento
              </option>
              <option
                *ngFor="let allestimento of allestimenti"
                [value]="allestimento.id"
              >
                {{ allestimento.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedAllestimentoId == 0 && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare un tipo di allestimento.
            </div>
          </div>
          <!-- Tipo asse-->
          <div class="mb-3 col">
            <label for="tipo_asse_nome" class="form-label">Tipo asse</label>
            <select
              id="tipo_asse_nome"
              class="form-select"
              [(ngModel)]="selectedTipoAsseId"
              required
              (ngModelChange)="onTipoAsseChange(selectedTipoAsseId)"
              name="tipoAsse"
            >
              <option selected [value]="0">Seleziona un tipo di asse</option>
              <option *ngFor="let tipoAsse of tipiAsse" [value]="tipoAsse.id">
                {{ tipoAsse.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedTipoAsseId == null && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare un tipo di asse.
            </div>
          </div>
          <!--Cambio-->
          <div class="mb-3 col">
            <label for="tipo_cambio_nome" class="form-label">Cambio</label>
            <select
              id="tipo_cambio_nome"
              class="form-select"
              [(ngModel)]="selectedCambioId"
              required
              (ngModelChange)="onCambioChange(selectedCambioId)"
              name="cambio"
            >
              <option selected [value]="0">Seleziona un tipo di cambio</option>
              <option
                *ngFor="let tipoCambio of tipiCambio"
                [value]="tipoCambio.id"
              >
                {{ tipoCambio.nome }}
              </option>
            </select>

            <div
              *ngIf="selectedCambioId == null && formSubmitted"
              class="alert text-danger ps-0"
            >
              Selezionare un tipo di cambio.
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <!--Stato-->
              <div class="mb-3 col d-flex flex-column">
                <label class="form-label d-block">Stato</label>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stato"
                    id="irregolare"
                    value="3"
                    [(ngModel)]="selectedStatoId"
                    (ngModelChange)="onStatoChange(selectedStatoId)"
                  />
                  <label class="form-check-label" for="irregolare"
                    >Irregolare</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stato"
                    id="gravementeIrr"
                    value="2"
                    [(ngModel)]="selectedStatoId"
                    (ngModelChange)="onStatoChange(selectedStatoId)"
                  />
                  <label class="form-check-label" for="gravementeIrr"
                    >Gravemente irregolare</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stato"
                    id="regolare"
                    value="1"
                    [(ngModel)]="selectedStatoId"
                    (ngModelChange)="onStatoChange(selectedStatoId)"
                  />
                  <label class="form-check-label" for="regolare"
                    >Regolare</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stato"
                    id="tuttiGliStati"
                    value="0"
                    [(ngModel)]="selectedStatoId"
                    (ngModelChange)="onStatoChange(selectedStatoId)"
                  />
                  <label class="form-check-label" for="tuttiGliStati"
                    >Tutti gli stati</label
                  >
                </div>
              </div>
            </div>
            <div class="col">
              <!--Disponibilità-->
              <div class="mb-3 col d-flex flex-column">
                <label class="form-label d-block">
                  Disponibilità
                </label>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="disponibilita"
                    id="disponibile"
                    value="1"
                    [(ngModel)]="selectedDisponibilitaId"
                    (ngModelChange)="
                      onDisponibilitaChange(selectedDisponibilitaId)
                    "
                  />
                  <label class="form-check-label" for="disponibile"
                    >Disponibile</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="disponibilita"
                    id="nonDisponibile"
                    value="2"
                    [(ngModel)]="selectedDisponibilitaId"
                    (ngModelChange)="
                      onDisponibilitaChange(selectedDisponibilitaId)
                    "
                  />
                  <label class="form-check-label" for="nonDisponibile"
                    >Non disponibile</label
                  >
                </div>

                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="disponibilita"
                    id="tutteLeDisponibilita"
                    value="0"
                    [(ngModel)]="selectedDisponibilitaId"
                    (ngModelChange)="
                      onDisponibilitaChange(selectedDisponibilitaId)
                    "
                  />
                  <label class="form-check-label" for="tutteLeDisponibilita"
                    >Tutte le disponibilità</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="submit"
          class="btn my-btn btn-primary"
          (click)="customizedSearch()"
        >
          Cerca veicolo
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col col-12">
  <!--Searching by targa-->
  <form id="search-by-targa">
    <h3>Cerca per targa o telaio</h3>
    <div class="mb-3 row justify-content-center">
      <label
        for="table-filtering-search"
        class="col-xs-3 col-sm-auto col-form-label"
        >Inserisci la targa o il numero di telaio</label
      >
      <div class="col-xs-3 col-sm-auto">
        <input
          id="table-filtering-search"
          class="form-control"
          type="text"
          [formControl]="filter"
        />
      </div>
    </div>
  </form>
</div>

<!--Spinner
<div *ngIf="spinner" class="d-flex justify-content-center" id="spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>-->

<!--Success message if a new Veicolo is add to de table-->
<app-alert-success
  [ngClass]="[veicoloSuccess ? 'd-block' : 'd-none']"
></app-alert-success>

<!--Table-->
<div class="table-responsive" id="results-table">
  <h2 class="m-4 border-bottom">Flotta:</h2>

      <!--Spinner-->
<div *ngIf="spinner" class="d-flex justify-content-center" id="spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

  <table class="table table-striped ms-2">
    <thead>
      <tr>
        <th scope="col">Nr. id.</th>
        <th>Stato</th>
        <th>Disponibilità</th>
        <th scope="col" class="text-center">Tipo veicolo</th>
        <th scope="col" class="text-center">Targa</th>
        <th scope="col" class="text-center">Telaio</th>
        <th scope="col" class="text-center">Marca</th>
        <th scope="col" class="text-center">Modello</th>
        <th scope="col" class="text-center">Cilindrata</th>
        <th scope="col" class="text-center">Colore</th>
        <th scope="col" class="text-center">Destinazione d'uso</th>
        <th scope="col" class="text-center">Massa</th>
        <th scope="col" class="text-center">Numero assi</th>
        <th scope="col" class="text-center">Portata</th>
        <th scope="col" class="text-center">Potenza</th>
        <th scope="col" class="text-center">Società</th>
        <th scope="col" class="text-center">Alimentazione</th>
        <th scope="col" class="text-center">Allestimento</th>
        <th scope="col" class="text-center">Tipo asse</th>
        <th scope="col" class="text-center">Cambio</th>
        <th scope="col" class="text-center">Disponibilità</th>
        <th scope="col" class="text-center">Larghezza</th>
        <th scope="col" class="text-center">Lunghezza</th>
      </tr>
    </thead>



    <tbody>
      <tr *ngFor="let veicolo of veicoli">
        <td scope="row">{{ veicolo.id }}&nbsp;</td>

        <td [ngClass]="{ 'text-center': true }">
          <i
            class="fa-solid fa-screwdriver-wrench"
            [ngClass]="getStatoIconClass(veicolo.id_stato)"
          ></i>
        </td>

        <td class="text-center">
          <i
            class="fa-solid fa-check"
            [ngClass]="getCheckIconClass(veicolo.id_disponibilita)"
          ></i>
          <i
            class="fa-solid fa-ban"
            [ngClass]="getBanClass(veicolo.id_disponibilita)"
          ></i>
        </td>

        <td
          *ngIf="veicolo.tipo_veicolo_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.tipo_veicolo_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.tipo_veicolo_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td *ngIf="veicolo.targa != null" class="text-truncate text-center">
          {{ veicolo.targa }}&nbsp;
        </td>
        <td *ngIf="veicolo.targa == null" class="text-center">- &nbsp;</td>

        <td *ngIf="veicolo.telaio != null" class="text-truncate text-center">
          {{ veicolo.telaio }}&nbsp;
        </td>
        <td *ngIf="veicolo.telaio == null" class="text-center">- &nbsp;</td>

        <td
          *ngIf="veicolo.marca_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.marca_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.marca_nome == null" class="text-center">- &nbsp;</td>

        <td
          *ngIf="veicolo.modello_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.modello_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.modello_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.cilindrata != null"
          class="text-truncate text-center"
        >
          {{ veicolo.cilindrata }}&nbsp;
        </td>
        <td *ngIf="veicolo.cilindrata == null" class="text-center">- &nbsp;</td>

        <td *ngIf="veicolo.colore != null" class="text-truncate text-center">
          {{ veicolo.colore }}&nbsp;
        </td>
        <td *ngIf="veicolo.colore == null" class="text-center">- &nbsp;</td>

        <td
          *ngIf="veicolo.destinazione_uso_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.destinazione_uso_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.destinazione_uso_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td *ngIf="veicolo.massa != null" class="text-truncate text-center">
          {{ veicolo.massa }}&nbsp;
        </td>
        <td *ngIf="veicolo.massa == null" class="text-center">- &nbsp;</td>

        <td
          *ngIf="veicolo.numero_assi != null"
          class="text-truncate text-center"
        >
          {{ veicolo.numero_assi }}&nbsp;
        </td>
        <td *ngIf="veicolo.numero_assi == null" class="text-center">
          - &nbsp;
        </td>

        <td *ngIf="veicolo.portata != null" class="text-truncate text-center">
          {{ veicolo.portata }}&nbsp;
        </td>
        <td *ngIf="veicolo.portata == null" class="text-center">- &nbsp;</td>

        <td *ngIf="veicolo.potenza != null" class="text-truncate text-center">
          {{ veicolo.potenza }}&nbsp;
        </td>
        <td *ngIf="veicolo.potenza == null" class="text-center">- &nbsp;</td>

        <td
          *ngIf="veicolo.proprietario_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.proprietario_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.proprietario_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.tipo_alimentazione_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.tipo_alimentazione_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.tipo_alimentazione_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.tipo_allestimento_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.tipo_allestimento_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.tipo_allestimento_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.tipo_asse_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.tipo_asse_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.tipo_asse_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.tipo_cambio_nome != null"
          class="text-truncate text-center"
        >
          {{ veicolo.tipo_cambio_nome }}&nbsp;
        </td>
        <td *ngIf="veicolo.tipo_cambio_nome == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.nome_disponibilita != null"
          class="text-truncate text-center"
        >
          {{ veicolo.nome_disponibilita }}&nbsp;
        </td>
        <td *ngIf="veicolo.nome_disponibilita == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.larghezza_esterna != null"
          class="text-truncate text-center"
        >
          {{ veicolo.larghezza_esterna }}&nbsp;
        </td>
        <td *ngIf="veicolo.larghezza_esterna == null" class="text-center">
          - &nbsp;
        </td>

        <td
          *ngIf="veicolo.lunghezza_esterna != null"
          class="text-truncate text-center"
        >
          {{ veicolo.lunghezza_esterna }}&nbsp;
        </td>
        <td *ngIf="veicolo.lunghezza_esterna == null" class="text-center">
          - &nbsp;
        </td>

        <td class="d-flex">
          <!--Offcanvas-->

          <app-stand-details
            *ngIf="veicolo.id != undefined"
            [id]="veicolo.id"
          ></app-stand-details>

          <a [routerLink]="['edit', veicolo.id]"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
          <a [routerLink]="['delete', veicolo.id]"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>

    <!--<tbody *ngIf="filteredVeicoliToShow.length > 0">
      <tr *ngFor="let veicolo of filteredVeicoliToShow">
        <td scope="row">{{ veicolo.id }}&nbsp;</td>

        <td [ngClass]="{'text-center': true}">
          <i
            class="fa-solid fa-screwdriver-wrench"
            [ngClass]="getStatoIconClass(veicolo.id_stato)"
          ></i>
        </td>

        <td class="text-center">
          <i
            class="fa-solid fa-check"
            [ngClass]="getCheckIconClass(veicolo.id_disponibilita)"
          ></i>
          <i
            class="fa-solid fa-ban"
            [ngClass]="getBanClass(veicolo.id_disponibilita)"
          ></i>
        </td>

        <td *ngIf="veicolo.tipo_veicolo_nome != null" class="text-truncate text-center">{{ veicolo.tipo_veicolo_nome }}&nbsp;</td>
        <td *ngIf="veicolo.tipo_veicolo_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.targa != null" class="text-truncate text-center">{{ veicolo.targa }}&nbsp;</td>
        <td *ngIf="veicolo.targa == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.telaio != null" class="text-truncate text-center">{{ veicolo.telaio }}&nbsp;</td>
        <td *ngIf="veicolo.telaio == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.marca_nome != null" class="text-truncate text-center">{{ veicolo.marca_nome }}&nbsp;</td>
        <td *ngIf="veicolo.marca_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.modello_nome != null" class="text-truncate text-center">{{ veicolo.modello_nome }}&nbsp;</td>
        <td *ngIf="veicolo.modello_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.cilindrata != null" class="text-truncate text-center">{{ veicolo.cilindrata }}&nbsp;</td>
        <td *ngIf="veicolo.cilindrata == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.colore != null" class="text-truncate text-center">{{ veicolo.colore }}&nbsp;</td>
        <td *ngIf="veicolo.colore == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.destinazione_uso_nome != null" class="text-truncate text-center">{{ veicolo.destinazione_uso_nome }}&nbsp;</td>
        <td *ngIf="veicolo.destinazione_uso_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.massa != null" class="text-truncate text-center">{{ veicolo.massa }}&nbsp;</td>
        <td *ngIf="veicolo.massa == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.numero_assi != null" class="text-truncate text-center">{{ veicolo.numero_assi }}&nbsp;</td>
        <td *ngIf="veicolo.numero_assi == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.portata != null" class="text-truncate text-center">{{ veicolo.portata }}&nbsp;</td>
        <td *ngIf="veicolo.portata == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.potenza != null" class="text-truncate text-center">{{ veicolo.potenza }}&nbsp;</td>
        <td *ngIf="veicolo.potenza == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.proprietario_nome != null" class="text-truncate text-center">{{ veicolo.proprietario_nome }}&nbsp;</td>
        <td *ngIf="veicolo.proprietario_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.tipo_alimentazione_nome != null" class="text-truncate text-center">{{ veicolo.tipo_alimentazione_nome }}&nbsp;</td>
        <td *ngIf="veicolo.tipo_alimentazione_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.tipo_allestimento_nome != null" class="text-truncate text-center">{{ veicolo.tipo_allestimento_nome }}&nbsp;</td>
        <td *ngIf="veicolo.tipo_allestimento_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.tipo_asse_nome != null" class="text-truncate text-center">{{ veicolo.tipo_asse_nome }}&nbsp;</td>
        <td *ngIf="veicolo.tipo_asse_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.tipo_cambio_nome != null" class="text-truncate text-center">{{ veicolo.tipo_cambio_nome }}&nbsp;</td>
        <td *ngIf="veicolo.tipo_cambio_nome == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.nome_disponibilita != null" class="text-truncate text-center">{{ veicolo.nome_disponibilita }}&nbsp;</td>
        <td *ngIf="veicolo.nome_disponibilita == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.larghezza_esterna != null" class="text-truncate text-center">{{ veicolo.larghezza_esterna }}&nbsp;</td>
        <td *ngIf="veicolo.larghezza_esterna == null" class="text-center"> - &nbsp;</td>

        <td *ngIf="veicolo.lunghezza_esterna != null" class="text-truncate text-center">{{ veicolo.lunghezza_esterna }}&nbsp;</td>
        <td *ngIf="veicolo.lunghezza_esterna == null" class="text-center"> - &nbsp;</td>

        <td class="d-flex">
         -Offcanvas

          <app-stand-details
            *ngIf="veicolo.id != undefined"
            [id]="veicolo.id"
          ></app-stand-details>

          <a [routerLink]="['edit', veicolo.id]"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
          <a [routerLink]="['delete', veicolo.id]"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
      </tr>
    </tbody>-->
  </table>
</div>

<!--Pagination-->
<div class="d-flex flex-column flex-lg-row justify-content-between p-2 ms-2">
  <ngb-pagination
    [collectionSize]="myArraySize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="getAllVeicoli()"
    [maxSize]="4"
    [rotate]="true"
    [boundaryLinks]="true"
    [directionLinks]="true"
    id="pag"
  >
    >
  </ngb-pagination>
</div>

<hr />
