<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">
      Dettagli del veicolo con targa <span class="targa">{{ veicolo.targa }}</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">

    <!--Anagrafica-->
    <div class="col">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#anagrafica" aria-expanded="false"
        aria-controls="anagrafica">
        Anagrafica
        <i class="fa-solid fa-caret-down ms-1"></i></button>
      <div class="collapse" id="anagrafica">
        <div class="card card-body">
          <p class="fst-italic">
            Nr. identificativo: <span class="fst-normal fw-bold">{{ veicolo.id }}</span>
          </p>
          <p class="fst-italic">
            Tipo veicolo:
            <span *ngIf="veicolo.tipo_veicolo_nome != null" class="fst-normal fw-bold">{{ veicolo.tipo_veicolo_nome
              }}</span>
            <span *ngIf="veicolo.tipo_veicolo_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Telaio: <span *ngIf="veicolo.telaio != null" class="fst-normal fw-bold">{{ veicolo.telaio }}</span>
            <span *ngIf="veicolo.telaio == null"> - </span>
          </p>
          <p class="fst-italic">
            Marca: <span *ngIf="veicolo.marca_nome != null" class="fst-normal fw-bold">{{ veicolo.marca_nome }}</span>
            <span *ngIf="veicolo.marca_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Modello: <span *ngIf="veicolo.modello_nome != null" class="fst-normal fw-bold">{{ veicolo.modello_nome
              }}</span>
            <span *ngIf="veicolo.modello_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Cilindrata: <span *ngIf="veicolo.cilindrata != null" class="fst-normal fw-bold">{{ veicolo.cilindrata
              }}</span>
            <span *ngIf="veicolo.cilindrata == null"> - </span>
          </p>
          <p class="fst-italic">
            Colore: <span *ngIf="veicolo.colore != null" class="fst-normal fw-bold">{{ veicolo.colore }}</span>
            <span *ngIf="veicolo.colore == null"> - </span>
          </p>
          <p class="fst-italic">
            Destinazione d'uso:
            <span *ngIf="veicolo.destinazione_uso_nome != null" class="fst-normal fw-bold">{{
              veicolo.destinazione_uso_nome }}</span>
            <span *ngIf="veicolo.destinazione_uso_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Massa: <span *ngIf="veicolo.massa != null" class="fst-normal fw-bold">{{ veicolo.massa }}</span>
            <span *ngIf="veicolo.massa == null"> - </span>
          </p>
          <p class="fst-italic">
            Numero assi:
            <span *ngIf="veicolo.numero_assi != null" class="fst-normal fw-bold">{{ veicolo.numero_assi }}</span>
            <span *ngIf="veicolo.numero_assi == null"> - </span>
          </p>
          <p class="fst-italic">
            Portata: <span *ngIf="veicolo.portata != null" class="fst-normal fw-bold">{{ veicolo.portata }}</span>
            <span *ngIf="veicolo.portata == null"> - </span>
          </p>
          <p class="fst-italic">
            Potenza: <span *ngIf="veicolo.potenza != null" class="fst-normal fw-bold">{{ veicolo.potenza }}</span>
            <span *ngIf="veicolo.potenza == null"> - </span>
          </p>
          <p class="fst-italic">
            Società:
            <span *ngIf="veicolo.proprietario_nome != null" class="fst-normal fw-bold">{{ veicolo.proprietario_nome
              }}</span>
            <span *ngIf="veicolo.proprietario_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Targa: <span *ngIf="veicolo.targa != null" class="fst-normal fw-bold">{{ veicolo.targa }}</span>
            <span *ngIf="veicolo.targa ==  null"> - </span>
          </p>
          <p class="fst-italic">
            Alimentazione:
            <span *ngIf="veicolo.tipo_alimentazione_nome != null" class="fst-normal fw-bold">{{
              veicolo.tipo_alimentazione_nome }}</span>
            <span *ngIf="veicolo.tipo_alimentazione_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Allestimento:
            <span *ngIf="veicolo.tipo_allestimento_nome != null" class="fst-normal fw-bold">{{
              veicolo.tipo_allestimento_nome }}</span>
            <span *ngIf="veicolo.tipo_allestimento_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Tipo asse:
            <span *ngIf="veicolo.tipo_asse_nome != null" class="fst-normal fw-bold">{{ veicolo.tipo_asse_nome }}</span>
            <span *ngIf="veicolo.tipo_asse_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Cambio:
            <span *ngIf="veicolo.tipo_cambio_nome != null" class="fst-normal fw-bold">{{ veicolo.tipo_cambio_nome
              }}</span>
            <span *ngIf="veicolo.tipo_cambio_nome == null"> - </span>
          </p>
          <p class="fst-italic">
            Larghezza esterna:
            <span *ngIf="veicolo.larghezza_esterna != null" class="fst-italic fw-bold">{{ veicolo.larghezza_esterna
              }}</span>
            <span *ngIf="veicolo.larghezza_esterna == null"> - </span>
          </p>
          <p class="fst-italic">
            Lunghezza esterna:
            <span *ngIf="veicolo.lunghezza_esterna != null" class="fst-italic fw-bold">{{ veicolo.lunghezza_esterna
              }}</span>
            <span *ngIf="veicolo.lunghezza_esterna == null"> - </span>
          </p>
          <p class="fst-italic">
            Note: <span *ngIf="veicolo.note != null" class="fst-italic fw-bold">{{ veicolo.note }}</span>
            <span *ngIf="veicolo.note == null"> - </span>
          </p>
          <p class="fst-italic">
            Altre caratterisctiche:
            <span *ngIf="veicolo.altre_caratteristiche != null" class="fst-italic fw-bold">{{
              veicolo.altre_caratteristiche }}</span>
            <span *ngIf="veicolo.altre_caratteristiche == null"> - </span>
          </p>
        </div>
      </div>
    </div>
    <br />

    <!--Info (alert)-->
    <div class="col">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#datiTecnici" aria-expanded="false"
        aria-controls="datiTecnici">
        Situazione tecnica, fiscale e amministrativa<i class="fa-solid fa-caret-down ms-2"></i>
      </button>
      <div class="collapse" id="datiTecnici">
        <div class="card card-body">

          <!--Ok-->
          <h5>Regolari</h5>
          <div *ngIf="kListOk && kListOk.length > 0">
            <div *ngFor="let k of kListOk; let i = index">

              <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#ok' + i" aria-expanded="false"
                [attr.aria-controls]="'ok' + i" class="green">
                {{ k[1] }}<i class="fa-solid fa-caret-down ms-2"></i>
              </button>

              <div class="collapse" [attr.id]="'ok' + i">

                <div *ngIf="k[2].length > 0">
                  <div *ngFor="let obj of k[2]">
                    <p class="fst-italic">
                      Nr. identificativo:
                      <span *ngIf="obj.id != null" class="fst-normal fw-bold">{{ obj.id }}</span>
                      <span *ngIf="obj.id == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Data pagamento:
                      <span *ngIf="obj.data_pagamento != null" class="fst-normal fw-bold">{{ obj.data_pagamento | slice:0:10 }}
                      </span>
                      <span *ngIf="obj.data_pagamento == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Inizio validità:
                      <span *ngIf="obj.inizio_validita != null" class="fst-normal fw-bold">{{ obj.inizio_validita | slice:0:10
                        }}</span>
                      <span *ngIf="obj.inizio_validita == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Fine validità:
                      <span *ngIf="obj.fine_validita != null" class="fst-normal fw-bold">{{ obj.fine_validita | slice:0:10 }}</span>
                      <span *ngIf="obj.fine_validita == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Importo:
                      <span *ngIf="obj.importo != null" class="fst-normal fw-bold">{{ obj.importo }}</span>
                      <span *ngIf="obj.importo == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Polizza:
                      <span *ngIf="obj.polizza != null" class="fst-normal fw-bold">{{ obj.polizza }}</span>
                      <span *ngIf="obj.polizza == null"> - &nbsp;</span>
                    </p>

                    <div *ngIf="k[1] == 'Assicurazione Assistenza Stradale'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_assistenza_stradale']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_assistenza_stradale', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Cristalli'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_cristalli']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_cristalli', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Furto Incendio'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_furto_incendio']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ furto_incendio', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Perdita Valore'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_perdita_valore']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ perdita_valore', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Scatola Nera'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_scatola_nera']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ scatola_nera', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Temporanea'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_temporanea']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ temporanea', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Bollo'">
                      <a [routerLink]="['/manutenzioni', 'bollo']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('bollo', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Gps'">
                      <a [routerLink]="['/manutenzioni', 'gps']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('gps', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Multa'">
                      <a [routerLink]="['/manutenzioni', 'multa']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('multa', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Revisione'">
                      <a [routerLink]="['/manutenzioni', 'revisione']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('revisione', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Sinistro'">
                      <a [routerLink]="['/manutenzioni', 'sinistro']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('sinistro', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    
                    <hr>
                  </div>
                </div>

                <div *ngIf="k[2].length == 0">
                  <p> - </p>
                </div>

              </div>
            </div>
          </div>
          <br>

          <!--Scaduto-->
          <h5>Irregolari</h5>
          <div *ngIf="kListScaduto && kListScaduto.length > 0">
            <div *ngFor="let k of kListScaduto; let i = index">

              <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#scaduto' + i"
                aria-expanded="false" aria-controls="'scaduto' + i" class="red">
                {{ k[1] }}<i class="fa-solid fa-caret-down ms-2"></i>
              </button>

              <div class="collapse" [attr.id]="'scaduto' + i">

                <div *ngIf="k[2].length > 0">
                  <div *ngFor="let obj of k[2]">
                    <p>
                      Nr. identificativo:
                      <span *ngIf="obj.id != null" class="fst-normal fw-bold">{{ obj.id }}</span>
                      <span *ngIf="obj.id == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Data pagamento:
                      <span *ngIf="obj.data_pagamento != null" class="fst-normal fw-bold">{{ obj.data_pagamento | slice:0:10
                        }}</span>
                      <span *ngIf="obj.data_pagamento == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Inizio validità:
                      <span *ngIf="obj.inizio_validita != null" class="fst-normal fw-bold">{{ obj.inizio_validita | slice:0:10
                        }}</span>
                      <span *ngIf="obj.inizio_validita == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Fine validità:
                      <span *ngIf="obj.fine_validita != null" class="fst-normal fw-bold">{{ obj.fine_validita | slice:0:10 }}</span>
                      <span *ngIf="obj.fine_validita == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Importo:
                      <span *ngIf="obj.importo != null" class="fst-normal fw-bold">€{{ obj.importo }}</span>
                      <span *ngIf="obj.importo == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Polizza:
                      <span *ngIf="obj.polizza != null" class="fst-normal fw-bold">{{ obj.polizza }}</span>
                      <span *ngIf="obj.polizza == null"> - &nbsp;</span>
                    </p>

                    <div *ngIf="k[1] == 'Assicurazione Assistenza Stradale'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_assistenza_stradale']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_assistenza_stradale', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Cristalli'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_cristalli']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_cristalli', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Furto Incendio'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_furto_incendio']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ furto_incendio', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Perdita Valore'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_perdita_valore']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ perdita_valore', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Scatola Nera'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_scatola_nera']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ scatola_nera', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Temporanea'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_temporanea']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ temporanea', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Bollo'">
                      <a [routerLink]="['/manutenzioni', 'bollo']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('bollo', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Gps'">
                      <a [routerLink]="['/manutenzioni', 'gps']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('gps', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Multa'">
                      <a [routerLink]="['/manutenzioni', 'multa']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('multa', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Revisione'">
                      <a [routerLink]="['/manutenzioni', 'revisione']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('revisione', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Sinistro'">
                      <a [routerLink]="['/manutenzioni', 'sinistro']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('sinistro', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>

                    <hr>
                  </div>
                </div>

                <div *ngIf="k[2].length == 0">
                  <p> - </p>
                </div>

              </div>

            </div>
          </div>
          <br>

          <!--Sospeso-->
          <h5>Sospesi</h5>
          <div *ngIf="kListSospeso && kListSospeso.length > 0">
            <div *ngFor="let k of kListSospeso; let i = index">

              <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#sospeso' + i"
                aria-expanded="false" [attr.aria-controls]="'sospeso' + i" class="grey">
                {{ k[1] }}<i class="fa-solid fa-caret-down ms-2"></i>
              </button>

              <div class="collapse" [attr.id]="'sospeso' + i">

                <div *ngIf="k[2].length > 0">
                  <div *ngFor="let obj of k[2]">
                    <p>
                      Nr. identificativo:
                      <span *ngIf="obj.id != null" class="fst-normal fw-bold">{{ obj.id }}</span>
                      <span *ngIf="obj.id == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Data pagamento:
                      <span *ngIf="obj.data_pagamento != null && k[1] != 'Multa' && k[1] != 'Sinistro' " class="fst-normal fw-bold">{{ obj.data_pagamento | slice:0:10 }}
                        </span>
                        <span *ngIf="k[1] == 'Multa' || k[2] == 'Sinistro' ">{{ obj.data_pagamento }}</span>
                      <span *ngIf="obj.data_pagamento == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Inizio validità:
                      <span *ngIf="obj.inizio_validita != null && k[1] != 'Multa' && k[1] != 'Sinistro' " class="fst-normal fw-bold">{{ obj.inizio_validita | slice:0:10 }}
                      </span>
                      <span *ngIf="k[1] == 'Multa' || k[2] == 'Sinistro' ">{{ obj.inizio_validita }}</span>
                    <span *ngIf="obj.inizio_validita == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Fine validità:
                      <span *ngIf="obj.fine_validita != null && k[1] != 'Multa' && k[1] != 'Sinistro' " class="fst-normal fw-bold">{{ obj.fine_validita | slice:0:10 }}
                      </span>
                      <span *ngIf="k[1] == 'Multa' || k[2] == 'Sinistro' ">{{ obj.fine_validita }}</span>
                    <span *ngIf="obj.fine_validita == null"> - &nbsp;</span>
                    <p class="fst-italic">
                      Importo:
                      <span *ngIf="obj.importo != null" class="fst-normal fw-bold">€{{ obj.importo }}</span>
                      <span *ngIf="obj.importo == null"> - &nbsp;</span>
                    </p>
                    <p class="fst-italic">
                      Polizza:
                      <span *ngIf="obj.polizza != null" class="fst-normal fw-bold">{{ obj.polizza }}</span>
                      <span *ngIf="obj.polizza == null"> - &nbsp;</span>
                    </p>

                    <div *ngIf="k[1] == 'Assicurazione Assistenza Stradale'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_assistenza_stradale']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_assistenza_stradale', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Cristalli'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_cristalli']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_cristalli', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Furto Incendio'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_furto_incendio']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ furto_incendio', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Perdita Valore'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_perdita_valore']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ perdita_valore', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Scatola Nera'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_scatola_nera']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ scatola_nera', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Assicurazione Temporanea'">
                      <a [routerLink]="['/manutenzioni', 'assicurazione_temporanea']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('assicurazione_ temporanea', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Bollo'">
                      <a [routerLink]="['/manutenzioni', 'bollo']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('bollo', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Gps'">
                      <a [routerLink]="['/manutenzioni', 'gps']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('gps', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Multa'">
                      <a [routerLink]="['/manutenzioni', 'multa']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('multa', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Revisione'">
                      <a [routerLink]="['/manutenzioni', 'revisione']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('revisione', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>
                    <div *ngIf="k[1] == 'Sinistro'">
                      <a [routerLink]="['/manutenzioni', 'sinistro']" [id]="veicolo.id"
                      (click)="getIdFromScadenze('sinistro', veicolo.id ? veicolo.id : 0, obj.id ? obj.id : 0)">
                      Più info
                    </a>
                    </div>

                    <hr>
                  </div>
                </div>

                <div *ngIf="k[2].length == 0">
                  <p> - </p>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <br />

    <!--Disponibilità-->
    <div class="col">
      <p class="pointer">Stato: <span [ngClass]="{
          'gre': veicolo.id_disponibilita == 1,
          're': veicolo.id_disponibilita == 2
        }">{{ veicolo.nome_disponibilita }}</span></p>
    </div>
    <br />

    <!--Stato-->
    <div class="col">
      <p class="pointer">Disponibilità: <span [ngClass]="{
        'gre': veicolo.id_stato == 1,
        're': veicolo.id_stato == 2,
        'oran': veicolo.id_stato == 3
      }">{{ veicolo.nome_stato }}</span></p>
    </div>
    <br />

  </div>
</ng-template>

<button class="border-0 bg-transparent" (click)="openEnd(content)">
  <i class="fa-solid fa-circle-info"></i>
</button>