<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">
      Dettagli del veicolo con targa {{ veicolo.targa }}
    </h4>

    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <!--Anagrafica-->
    <div class="col">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#anagrafica" aria-expanded="false"
        aria-controls="anagrafica">
        Anagrafica
      </button>

      <div class="collapse" id="anagrafica">
        <div class="card card-body">
          <p class="fst-italic">
            Nr. identificativo: <span class="fst-normal">{{ veicolo.id }}</span>
          </p>
          <p class="fst-italic">
            Tipo veicolo:
            <span class="fst-normal">{{ veicolo.tipo_veicolo_nome }}</span>
          </p>
          <p class="fst-italic">
            Telaio: <span class="fst-normal">{{ veicolo.telaio }}</span>
          </p>
          <p class="fst-italic">
            Marca: <span class="fst-normal">{{ veicolo.marca_nome }}</span>
          </p>
          <p class="fst-italic">
            Modello: <span class="fst-normal">{{ veicolo.modello_nome }}</span>
          </p>
          <p class="fst-italic">
            Cilindrata: <span class="fst-normal">{{ veicolo.cilindrata }}</span>
          </p>
          <p class="fst-italic">
            Colore: <span class="fst-normal">{{ veicolo.colore }}</span>
          </p>
          <p class="fst-italic">
            Destinazione d'uso:
            <span class="fst-normal">{{ veicolo.destinazione_uso_nome }}</span>
          </p>
          <p class="fst-italic">
            Massa: <span class="fst-normal">{{ veicolo.massa }}</span>
          </p>
          <p class="fst-italic">
            Numero assi:
            <span class="fst-normal">{{ veicolo.numero_assi }}</span>
          </p>
          <p class="fst-italic">
            Portata: <span class="fst-normal">{{ veicolo.portata }}</span>
          </p>
          <p class="fst-italic">
            Potenza: <span class="fst-normal">{{ veicolo.potenza }}</span>
          </p>
          <p class="fst-italic">
            Società:
            <span class="fst-normal">{{ veicolo.proprietario_nome }}</span>
          </p>
          <p class="fst-italic">
            Targa: <span class="fst-normal">{{ veicolo.targa }}</span>
          </p>
          <p class="fst-italic">
            Alimentazione:
            <span class="fst-normal">{{
              veicolo.tipo_alimentazione_nome
              }}</span>
          </p>
          <p class="fst-italic">
            Allestimento:
            <span class="fst-normal">{{ veicolo.tipo_allestimento_nome }}</span>
          </p>
          <p class="fst-italic">
            Tipo asse:
            <span class="fst-normal">{{ veicolo.tipo_asse_nome }}</span>
          </p>
          <p class="fst-italic">
            Cambio:
            <span class="fst-normal">{{ veicolo.tipo_cambio_nome }}</span>
          </p>
          <p class="fst-italic">
            Larghezza esterna:
            <span class="fst-italic">{{ veicolo.larghezza_esterna }}</span>
          </p>
          <p class="fst-italic">
            Lunghezza esterna:
            <span class="fst-italic">{{ veicolo.lunghezza_esterna }}</span>
          </p>
          <p class="fst-italic">
            Note: <span class="fst-italic">{{ veicolo.note }}</span>
          </p>
          <p class="fst-italic">
            Altre caratterisctiche:
            <span class="fst-italic">{{ veicolo.altre_caratteristiche }}</span>
          </p>
        </div>
      </div>
    </div>
    <br />

    <!--Info (alert)-->
    <div class="col">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#datiTecnici" aria-expanded="false"
        aria-controls="datiTecnici">
        Situazione tecnica, fiscale e amministrativa
      </button>
      <div class="collapse" id="datiTecnici">
        <div class="card card-body">
          <!--Ok-->
          <div *ngIf="kListOk && kListOk.length > 0">
            <div *ngFor="let k of kListOk">

              <button type="button" data-bs-toggle="collapse" data-bs-target="#ok" aria-expanded="false"
                aria-controls="ok" class="fw-bold text-success">
                {{ k[1] }}
              </button>

              <div class="collapse" id="ok">
                <div *ngFor="let obj of k[2]">
                  <p class="fst-italic">
                    Nr. identificativo:
                    <span class="fst-normal">{{ obj.id }}</span>
                  </p>
                  <p class="fst-italic">
                    Data pagamento:
                    <span class="fst-normal">{{ obj.data_pagamento }}</span>
                  </p>
                  <p class="fst-italic">
                    Inizio validità:
                    <span class="fst-normal">{{ obj.inizio_validita }}</span>
                  </p>
                  <p class="fst-italic">
                    Fine validità:
                    <span class="fst-normal">{{ obj.fine_validita }}</span>
                  </p>
                  <p class="fst-italic">
                    Importo:
                    <span class="fst-normal">{{ obj.importo }}</span>
                  </p>
                 
                </div> 
              </div>
            </div>
          </div>
          <br>

          <!--Scaduto-->
          <div *ngIf="kListScaduto && kListScaduto.length > 0">
            <div *ngFor="let k of kListScaduto">

              <button type="button" data-bs-toggle="collapse" data-bs-target="#scaduto" aria-expanded="false"
                aria-controls="scaduto" class="fw-bold text-danger">
                {{ k[1] }}</button>

              <div class="collapse" id="scaduto">
                <div *ngFor="let obj of k[2]">
                  <p>
                    Nr. identificativo:
                    <span class="fst-normal">{{ obj.id }}</span>
                  </p>
                  <p class="fst-italic">
                    Data pagamento:
                    <span class="fst-normal">{{ obj.data_pagamento }}</span>
                  </p>
                  <p class="fst-italic">
                    Inizio validità:
                    <span class="fst-normal">{{ obj.inizio_validita }}</span>
                  </p>
                  <p class="fst-italic">
                    Fine validità:
                    <span class="fst-normal">{{ obj.fine_validita }}</span>
                  </p>
                  <p class="fst-italic">
                    Importo:
                    <span class="fst-normal">{{ obj.importo }}</span>
                  </p>
                  <br>
                </div>
              </div>

            </div>
          </div>
          <br>

          <!--Sospeso-->
          <div *ngIf="kListSospeso && kListSospeso.length > 0">
            <div *ngFor="let k of kListSospeso">

              <button type="button" data-bs-toggle="collapse" data-bs-target="#sospeso" aria-expanded="false"
                aria-controls="sospeso" class="fw-bold text-secondary">{{ k[1] }}</button>

                  <div class="collapse" id="sospeso">
                    <div *ngFor="let obj of k[2]">
                      <p>
                        Nr. identificativo:
                        <span class="fst-normal">{{ obj.id }}</span>
                      </p>
                      <p class="fst-italic">
                        Data pagamento:
                        <span class="fst-normal">{{ obj.data_pagamento }}</span>
                      </p>
                      <p class="fst-italic">
                        Inizio validità:
                        <span class="fst-normal">{{ obj.inizio_validita }}</span>
                      </p>
                      <p class="fst-italic">
                        Fine validità:
                        <span class="fst-normal">{{ obj.fine_validita }}</span>
                      </p>
                      <p class="fst-italic">
                        Importo:
                        <span class="fst-normal">{{ obj.importo }}</span>
                      </p>
                      <br>
                    </div>
                  </div>

            </div>
          </div>

          <!--<div *ngIf="!myAms">
            <p>Non ci sono {{ a }} attive.</p>
          </div>-->
        </div>
      </div>
    </div>

    <br />
    <!--Disponibilità-->
    <div class="col">
      <p>Disponibilità: {{ veicolo.nome_disponibilita }}</p>
    </div>
    <br />
    <!--Stato-->
    <div class="col">
      <p>Stato: {{ veicolo.nome_stato }}</p>
    </div>
    <br />

  </div>
</ng-template>

<button class="border-0 bg-transparent" (click)="openEnd(content)">
  <i class="fa-solid fa-circle-info"></i>
</button>