<form id="search-form">
  <div class="mb-3 row justify-content-center">
    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Cerca per targa:</label>
    <div class="col-xs-3 col-sm-auto">
      <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
    </div>
  </div>
</form>

<!--Spinner-->
<div *ngIf="spinner" class="d-flex justify-content-center" id="spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Numero identificativo</th>
	  <th scope="col">Tipo veicolo</th>
      <th scope="col">Marca</th>
      <th scope="col">Modello</th>
      <th scope="col">Cilindrata</th>
	  <th scope="col">Colore</th>
	  <th scope="col">Destinazione d'uso</th>
	  <th scope="col">Massa</th>
	  <th scope="col">Numero assi</th>
	  <th scope="col">Portata</th>
	  <th scope="col">Potenza</th>
	  <th scope="col">Società</th>
	  <th scope="col">Targa</th>
	  <th scope="col">Alimentazione</th>
	  <th scope="col">Allestimento</th>
	  <th scope="col">Tipo asse</th>
	  <th scope="col">Cambio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let veicolo of veicoliToShow">
      <th scope="row">{{ veicolo.id }}</th>
      <td>
        <!--<img
					[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
					class="me-2"
					style="width: 20px"
				/>-->
        {{ veicolo.tipo_veicolo_nome }}
      </td>
      <td>{{ veicolo.marca_nome }}</td>
      <td>{{ veicolo.modello_nome }}</td>
      <td>{{ veicolo.cilindrata }}</td>
      <td>{{ veicolo.colore }}</td>
      <td>{{ veicolo.destinazione_uso_nome }}</td>
      <td>{{ veicolo.massa }}</td>
      <td>{{ veicolo.numero_assi }}</td>
      <td>{{ veicolo.portata }}</td>
      <td>{{ veicolo.potenza }}</td>
      <td>{{ veicolo.societa_nome }}</td>
      <td>{{ veicolo.targa }}</td>
      <td>{{ veicolo.tipo_alimentazione_nome }}</td>
      <td>{{ veicolo.tipo_allestimento_nome }}</td>
      <td>{{ veicolo.tipo_asse_nome }}</td>
      <td>{{ veicolo.tipo_cambio_nome }}</td>

    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshVeicoli()"
    [maxSize]="4"
    [rotate]="true"
    [boundaryLinks]="true"
    [directionLinks]="true"
  >
    >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshVeicoli()"
  >
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>

<hr>