<!--Searching by targa-->
<form id="search-form">
  <div class="mb-3 row justify-content-center">
    <label
      for="table-filtering-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Inserisci la targa del veicolo:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-filtering-search"
        class="form-control"
        type="text"
        [formControl]="filter"
      />
    </div>
  </div>
</form>

<h2 class="text-center">{{ tipo | uppercase }}</h2>

<!--Spinner-->
<div *ngIf="spinner" class="d-flex justify-content-center" id="spinner">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="table-responsive">
<table class="table table-striped ms-2">
  <thead>
    <tr>
      <th scope="col">Nr. id {{ tipo }}</th>
      <th scope="col">Nr. id. veicolo</th>
      <th scope="col">Anno</th>
      <th scope="col">Data pagamento</th>
      <th scope="col">Inizio validità</th>
      <th scope="col">Fine validità</th>
      <th scope="col">Importo</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let manutenzione of manutenzioniToShow">
      <td>{{ manutenzione.id }}</td>
      <td>{{ manutenzione.id_veicolo }}</td>
      <td>{{ manutenzione.anno }}</td>
      <td>{{ manutenzione.data_pagamento }}</td>
      <td>{{ manutenzione.inizio_validita }}</td>
      <td>{{ manutenzione.fine_validita }}</td>
      <td>€{{ manutenzione.importo }}</td>
      <td class="d-flex justify-content-between">
        <a [routerLink]="['manutenzioni-details', manutenzione.id]"
          ><i class="fa-solid fa-circle-info"></i
        ></a>

        <a [routerLink]="['manutenzioni-edit', manutenzione.id]"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <a [routerLink]="['manutenzioni-delete', manutenzione.id]"
          ><i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
 </div>

<!--Pagination-->
<div class="d-flex flex-column flex-lg-row justify-content-between p-2 ms-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshManutenzioni()"
    [maxSize]="4"
    [rotate]="true"
    [boundaryLinks]="true"
    [directionLinks]="true"
    id="pag"
  >
    >
  </ngb-pagination>

  <select
    class="form-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshManutenzioni()"
    name="pagination"
  >
    <option [ngValue]="2">Visualizza 2 manutenzioni per pagina</option>
    <option [ngValue]="4">Visualizza 4 manutenzioni per pagina</option>
    <option [ngValue]="6">Visualizza 6 manutenzioni per pagina</option>
  </select>
</div>

<hr />
   <!--Create-->
    <a class="btn btn-primary my-btn" routerLink='./create-manutenzione'>Crea</a>
