<app-table></app-table>
<!--Crea veicolo----------------------------------------------->
<h1>Nuovo veicolo</h1>
<div class="my-form">
  <form>
    <h3>Inserisci i dati del veicolo</h3>

    <!--Targa-->
    <div class="mb-3">
      <label for="targa" class="form-label">Targa</label>
      <input type="targa" class="form-control" id="targa" />
    </div>

    <!--Data immatricolazione-->

    <div class="mb-3">
      <label for="dataImmatricolazione" class="form-label"
        >Data immatricolazione</label
      >

      <div class="container-fluid">
        <div class="row">
          <!--<div class="col col-1 p-0">
            <i
              class="fa-solid fa-calendar-days form-control d-flex justify-content-center"
            ></i>
          </div>-->

          <div class="col col-9 p-0">
         
            
              <input
              class="form-control"
              placeholder="Scegli una data"
              [(ngModel)]="date"
              (click)="toggleDatePicker()"
              name="dataImmatricolazione"
              [value]="formatDate(model)"
              readonly
            />

          <!--<i class="fa-solid fa-calendar-days"></i>-->
          </div>

          <div class="col col-3 p-0">
            <button class="form-control" (click)="selectToday()">Oggi</button>
          </div>
        </div>
      </div>

      <ngb-datepicker
        #dp
        [(ngModel)]="model"
        (navigate)="date = $event.next"
        (closed)="isDatepickerOpen = false"
        *ngIf="isDatepickerOpen"
        name="datePicker"
      >
      </ngb-datepicker>

      <!--<div>Selected date: {{ model | json }}</div>-->
    </div>

    <!--Destinazione d'uso-->
    <div class="mb-3">
      <label for="destinazioneDUso" class="form-label"
        >Destinazione d'uso</label
      >
      <select id="destinazioneDUso" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Proprietario-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Tipo-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Marca-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Modello-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Tipo allestimento-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Tipo asse-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Tipo cambio-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <!--Tipo alimentazione-->
    <div class="mb-3">
      <label for="" class="form-label">Destinazione d'uso</label>
      <select id="" class="form-select">
        <option>Da locare senza conducente</option>
        <option>Uso proprio</option>
        <option>Uso terzi</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Salva veicolo</button>
  </form>
</div>
