app-header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding-right: 0;
}
#navbar {
  //background-color: #08062714;
  //position: relative;
  //z-index: 1;
  border-right: 0.5px solid orange;
  //box-shadow: 1px -2px 5px 0px;
}
app-footer{
  padding-right: 0;
}
/*.is-navbar{
  border-right: 1px solid #EC7801;
}*/
#overflow{
  overflow-x: clip;
}
/*.row{
  min-height: 100vh;
}*/
#content{
  min-height: 87vh;
}

    /* min-height: 100vh; */
   // height: 100%;