app-header {
  position: sticky;
  top: 0;
  z-index: 3;
  padding-right: 0;
}
.col-md-2 {
  background-color: #08062714;
  position: relative;
  z-index: 1;
  border-right: 0.5px solid grey;
  box-shadow: 1px -2px 5px 0px;
}
.row{
  max-width: 99.3vw;
}
app-footer{
  padding-right: 0;
}
#navbar{
  border-right: 1px solid #EC7801;
  //width: 150px;
}
@media screen and (max-width: 576px) {
  #navbar{
    height: 6vh !important;
  }  
}