<div class="container my-5">
  <h2>Alert</h2>
  <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center">
    <!--Revisioni-->
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img-alert/revisione-2.jpg"
          class="card-img-top"
          alt="revisione"
        />
        <div class="card-body">
          <h5 class="card-title">Revisioni</h5>

          <div class="d-flex justify-content-between">
            <!--Red icon-->
            <div class="card-text">
              <a type="button" class="position-relative" routerLink="../../pages/home/revisioni">
                <img
                  class="icon"
                  src="../../../assets/icons/tools.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
  
            <!--Orange icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/tools.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill orange-icon"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          
            <!--Yellow icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/tools.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>

          </div>
          <hr />

        </div>
      </div>
    </div>

    <!--Tagliandi-->
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img-alert/tagliando.jpeg"
          class="card-img-top"
          alt="tagliando"
        />
        <div class="card-body">
          <h5 class="card-title">Tagliandi</h5>
  
          <div class="d-flex justify-content-between">
            <!--Red icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon" alt="chiave-inglese"
                  src="../../../assets/icons/oil-can.png"
                />

                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
  
            <!--Orange icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon" alt="chiave-inglese"
                  src="../../../assets/icons/oil-can.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill orange-icon"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          
            <!--Yellow icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon" alt="chiave-inglese"
                  src="../../../assets/icons/oil-can.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          </div>

          <hr />
        </div>
      </div>
    </div>

    <!--Contravvenzioni-->
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img-alert/multa-2.jpg"
          class="card-img-top"
          alt="contravvenzione"
        />
        <div class="card-body">
          <h5 class="card-title">Contravvenzioni</h5>

          <!--Icons-->
          <div class="d-flex justify-content-between">
          <!--Red icon-->
          <div class="card-text">
            <a type="button" class="position-relative">
              <img
                class="icon"
                src="../../../assets/icons/user-police.png"
              />
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </div>

          <!--Orange icon-->
          <div class="card-text">
            <a type="button" class="position-relative">
              <img
                class="icon"
                src="../../../assets/icons/user-police.png"
              />
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill orange-icon"
              >
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </div>
        
          <!--Yellow icon-->
          <div class="card-text">
            <a type="button" class="position-relative">
              <img
                class="icon"
                src="../../../assets/icons/user-police.png"
              />
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
              >
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          </div>
        </div>

          <hr />

        </div>
      </div>
    </div>

    <!--Assicurazioni-->
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img-alert/assicurazione.jpg"
          class="card-img-top"
          alt="assicurazione"
        />
        <div class="card-body">
          <h5 class="card-title">Assicurazioni</h5>

          <div class="d-flex justify-content-between">
            <!--Red icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/compliance-document.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
  
            <!--Orange icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/compliance-document.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill orange-icon"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          
            <!--Yellow icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/compliance-document.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          </div>

          <hr />

        </div>
      </div>
    </div>

    <!--Bolli-->
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img-alert/bollo-3.jpeg"
          class="card-img-top"
          alt="bollo"
        />
        <div class="card-body">
          <h5 class="card-title">Bolli</h5>
          <div class="d-flex justify-content-between">
            <!--Red icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/tax.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
  
            <!--Orange icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/tax.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill orange-icon"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          
            <!--Yellow icon-->
            <div class="card-text">
              <a type="button" class="position-relative">
                <img
                  class="icon"
                  src="../../../assets/icons/tax.png"
                />
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                >
                  99+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </div>
          </div>
          <hr />

        </div>
      </div>
    </div>
  </div>
</div>
