<h2 class="text-center">Manutenzione</h2>

<div class="d-grid gap-2 col-6 mx-auto">
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'assicurazione']"
    >Assicurazioni</a
  >
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'atp']">Atp</a>
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'bollo']">Bolli</a>
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'bombole']"
    >Bombole</a
  >
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'revisione']"
    >Revisioni</a
  >
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'tachigrafo']"
    >Tachigrafi</a
  >
  <a class="btn btn-primary" [routerLink]="['/manutenzioni', 'tagliando']"
    >Tagliandi</a
  >
</div>
