<div class="d-flex flex-column align-items-center">
  <h2>Modifica veicolo</h2>
  <form #modificaVeicoloForm="ngForm">
    <div class="row row-cols-2 row-cols-md-3">
      <!--Tipo veicolo-->
      <div class="mb-3 col">
        <label for="change_tipo_veicolo" class="form-label">Tipo veicolo</label>
        <select
          id="change_tipo_veicolo"
          class="form-select"
          [(ngModel)]="selectedTipoVId"
          (ngModelChange)="onTipeVChange($event)"
          name="tipoVeicolo"
        >
          <option
            *ngFor="let tipoVeicolo of tipiVeicoli"
            [value]="tipoVeicolo.id"
          >
            {{ tipoVeicolo.nome }}
          </option>
        </select>
      </div>

      <!--Marca-->
      <div class="mb-3 col">
        <label for="change_marca" class="form-label">Marca</label>
        <select
          id="change_marca"
          class="form-select"
          [(ngModel)]="selectedMarcaId"
          (ngModelChange)="onMarcaChange($event)"
          name="marca"
        >
          <option *ngFor="let marca of marche" [value]="marca.id">
            {{ marca.nome }}
          </option>
        </select>
      </div>

      <!--Modello-->
      <div class="mb-3 col">
        <label for="change_modello" class="form-label">Modello</label>
        <select
          id="change_modello"
          class="form-select"
          [(ngModel)]="selectedModelloId"
          (ngModelChange)="onModelloChange($event)"
          name="modello"
        >
          <option *ngFor="let modello of modelli" [value]="modello.id">
            {{ modello.nome }}
          </option>
        </select>
      </div>

      <!--Cilindrata-->
      <div class="mb-3 col">
        <label for="change_cilindrata" class="form-label">Cilindrata</label>
        <input
          id="change_cilindrata"
          type="number"
          name="cilindrata"
          [(ngModel)]="veicolo.cilindrata"
          placeholder="Inserisci cilindrata"
          class="form-control"
        />
      </div>

      <!--Colore-->
      <div class="mb-3 col">
        <label for="change_colore" class="form-label">Colore</label>
        <input
          id="change_colore"
          type="text"
          name="colore"
          [(ngModel)]="veicolo.colore"
          placeholder="Inserisci il colore"
          class="form-control"
        />
      </div>

      <!--Destinazione d'uso-->
      <div class="mb-3 col">
        <label for="change_destinazioneUso" class="form-label"
          >Destinazione d'uso</label
        >
        <select
          id="change_destinazioneUso"
          class="form-select"
          [(ngModel)]="selectedDestinazioneId"
          (ngModelChange)="onDestinazioneUsoChange($event)"
          name="destinazioneUso"
        >
          <option
            *ngFor="let destinazione of destinazioni"
            [value]="destinazione.id"
          >
            {{ destinazione.nome }}
          </option>
        </select>
      </div>

      <!--Massa-->
      <div class="mb-3 col">
        <label for="change_massa" class="form-label">Massa</label>
        <input
          id="change_massa"
          type="text"
          name="massa"
          [(ngModel)]="veicolo.massa"
          placeholder="Inserisci la massa"
          class="form-control"
        />
      </div>

      <!--Numero assi-->
      <div class="mb-3 col">
        <label for="change_numeroAssi" class="form-label">Numero Assi</label>
        <input
          id="change_numeroAssi"
          type="number"
          name="numeroAssi"
          [(ngModel)]="veicolo.numero_assi"
          placeholder="Inserisci il numero assi"
          class="form-control"
        />
      </div>

      <!--Portata-->
      <div class="mb-3 col">
        <label for="change_portata" class="form-label">Portata</label>
        <input
          id="change_portata"
          type="number"
          name="portata"
          [(ngModel)]="veicolo.portata"
          placeholder="Inserisci la portata"
          class="form-control"
        />
      </div>

      <!--Potenza-->
      <div class="mb-3 col">
        <label for="change_potenza" class="form-label">Potenza</label>
        <input
          id="change_potenza"
          type="number"
          name="potenza"
          [(ngModel)]="veicolo.potenza"
          placeholder="Inserisci potenza"
          class="form-control"
        />
      </div>

      <!--Società-->
      <div class="mb-3 col">
        <label for="change_societa" class="form-label">Società</label>
        <select
          id="change_societa"
          class="form-select"
          [(ngModel)]="selectedSocietaId"
          (ngModelChange)="onSocietaChange($event)"
          name="societa"
        >
          <option *ngFor="let societa of societas" [value]="societa.id">
            {{ societa.nome }}
          </option>
        </select>
      </div>

      <!--Targa-->
      <div class="mb-3 col">
        <label for="change_targa" class="form-label">Targa</label>
        <input
          id="change_targa"
          type="text"
          name="targa"
          [(ngModel)]="veicolo.targa"
          placeholder="Inserisci la targa"
          class="form-control"
        />
      </div>

      <!--Alimentazione-->
      <div class="mb-3 col">
        <label for="change_alimentazione" class="form-label"
          >Alimentazione</label
        >
        <select
          id="change_alimentazione"
          class="form-select"
          [(ngModel)]="selectedAlimentazioneId"
          (ngModelChange)="onAlimentazioneChange($event)"
          name="alimentazione"
        >
          <option
            *ngFor="let alimentazione of alimentazioni"
            [value]="alimentazione.id"
          >
            {{ alimentazione.nome }}
          </option>
        </select>
      </div>

      <!--Allestimento-->
      <div class="mb-3 col">
        <label for="change_allestimento" class="form-label">Allestimento</label>
        <select
          id="change_allestimento"
          class="form-select"
          [(ngModel)]="selectedAllestimentoId"
          (ngModelChange)="onAllestimentoChange($event)"
          name="allestimento"
        >
          <option
            *ngFor="let allestimento of allestimenti"
            [value]="allestimento.id"
          >
            {{ allestimento.nome }}
          </option>
        </select>
      </div>

      <!--Tipo asse-->
      <div class="mb-3 col">
        <label for="change_tipoAsse" class="form-label">Tipo asse</label>
        <select
          id="change_tipoAsse"
          class="form-select"
          [(ngModel)]="selectedTipoAsseId"
          (ngModelChange)="onTipoAsseChange($event)"
          name="tipoAsse"
        >
          <option *ngFor="let tipoAsse of tipiAsse" [value]="tipoAsse.id">
            {{ tipoAsse.nome }}
          </option>
        </select>
      </div>

      <!--Cambio-->
      <div class="mb-3 col">
        <label for="change_cambio" class="form-label">Cambio</label>
        <select
          id="change_cambio"
          class="form-select"
          [(ngModel)]="selectedTipoCambioId"
          (ngModelChange)="onCambioChange($event)"
          name="cambio"
        >
          <option *ngFor="let tipoCambio of tipiCambio" [value]="tipoCambio.id">
            {{ tipoCambio.nome }}
          </option>
        </select>
      </div>

      <!--Data immatricolazione-->
      <div class="mb-3 col">
        <label for="data_immatricolazione" class="form-label"
          >Data immatricolazione</label
        >
        <app-datepicker
          [(ngModel)]="data_immatricolazione"
          (dateChange)="handleDateChange($event)"
          name="data_immatricolazione"
        ></app-datepicker>
      </div>

      <!--Larghezza esterna-->
      <div class="mb-3 col">
        <label for="larghezza_esterna" class="form-label">Larghezza esterna</label>
        <input
          id="larghezza_esterna"
          type="number"
          name="larghezza_esterna"
          [(ngModel)]="veicolo.larghezza_esterna"
          placeholder="Inserisci la larghezza esterna"
          class="form-control"
        />
      </div>

      <!--Lunghezza esterna-->
      <div class="mb-3 col">
        <label for="lunghezza_esterna" class="form-label">Lunghezza esterna</label>
        <input
          id="lunghezza_esterna"
          type="number"
          name="lunghezza_esterna"
          [(ngModel)]="veicolo.lunghezza_esterna"
          placeholder="Inserisci la lunghezza esterna"
          class="form-control"
        />
      </div>

      <!--Note-->
      <div class="mb-3 col">
        <label for="note" class="form-label">Note</label>
        <input
          id="note"
          type="text"
          name="note"
          [(ngModel)]="veicolo.note"
          placeholder="Inserisci eventuali note"
          class="form-control"
        />
      </div>

      <!--Altre caratteristiche-->
      <div class="mb-3 col">
        <label for="altre_caratteristiche" class="form-label">Altre caratteristiche</label>
        <input
          id="altre_caratteristiche"
          type="text"
          name="altre_caratteristiche"
          [(ngModel)]="veicolo.altre_caratteristiche"
          placeholder="Informazioni aggiuntive"
          class="form-control"
        />
      </div>

      <button
        type="submit"
        class="btn my-btn btn-primary"
        (click)="editVeicolo()"
      >
        Salva modifiche
      </button>
    </div>
  </form>
</div>
