/* You can add global styles to this file, and also import other style files */
/*Button

ARANCIONE E BLU, SFONDO GRIGIASTRO
text:#000000
background:#F5F5F5
primary:#2843F0
secondary:#037ECA
accent:#FF6010

ROSSO GIALLINO E SENAPE SFONDO BIANCO
text: #170409;
--background: #fefafb;
--primary: #dc2f4e;
--secondary: #ecba8e;
--accent: #e5c863;

AZZURRO, AZZURRINO E ARANCIONE
--text: #121415;
--background: #f5f8fa;
--primary: #3b9bc5;
--secondary: #83ceef;
--accent: #fea335;
*/


@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700;900&display=swap");

h1 {
  text-align: center;
}

.my-form {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 900px;
  border: solid 1px gainsboro;
  padding: 2em;
}

.btn {
  background: linear-gradient(to right, #2600ff, #0099ff);
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  width: -webkit-fill-available;
  margin: 1em;
}
.btn:hover {
  background: #0099ff !important;
}

ul {
  border: 0 !important;
  width: fit-content;
}

/*Form*/
form {
  margin: 2em;
}

@media screen and (min-width: 476px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
