/* You can add global styles to this file, and also import other style files */
/*Button*/

.btn {
    background: linear-gradient(to right, #2600ff, #0099ff) !important;
    color: white !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 700 !important;
    width: -moz-available;
    margin: 1em;
  }
  .btn:hover{
    background: #0099ff !important;
  }

/*Form*/
form{
    margin: 2em;
}

@media screen and (min-width: 476px) {
    /*.carousel.item .wider-image {
      width: -webkit-fill-available;
    }*/
  }

  @media screen and (min-width: 576px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 992px) {
  }

  @media screen and (min-width: 1200px) {
  }
  @media screen and (min-width: 1400px) {
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
