/* You can add global styles to this file, and also import other style files */
/*Button


https://www.realtimecolors.com/?colors=131516-f5f8fa-3b9bc4-85cfef-fea334&fonts=Poppins-Poppins

ARANCIONE E BLU, SFONDO GRIGIASTRO
background:#F5F5F5
primary:#2843F0, #779EB6  > da implementare
secondary:##779eb65e > da implementare
accent:#EC7801 > da implementare*/




//@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

body{
  font-family: "Poppins", sans-serif !important;
  color: #000000;
  background-color: #F5F5F5 !important;
}

h1 {
  text-align: center;
  font-weight: 700 !important;
}

h2, h3, h4, h5{
  font-weight: 500 !important;
}

.my-form {
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
  max-width: 900px;
  border: solid 1px gainsboro;
  padding: 2em;
}

.btn {
  border: 0 !important;
  background: linear-gradient(to right, #2843F0, #779EB6);
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  width: -webkit-fill-available;
  margin: 1em;
}
.btn:hover {
  background: #EC7801 !important;
}

ul {
  border: 0 !important;
  width: fit-content;
}

/*Form*/
form {
  margin: 2em;
}

@media screen and (min-width: 476px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
