<div class="container-fluid pt-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <!--Revisione-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Revisioni tecniche</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-clipboard-check orange my-icon"></i>
            <p class="m-0 fw-bold">{{ nRevisioniScadenzaBreveTermine }}<span class="fw-normal"> revisioni in scadenza tra 0-6 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-clipboard-check yellow my-icon"></i>
            <p class="m-0 fw-bold">{{ nRevisioniScadenzaMedioTermine }} <span class="fw-normal"> revisioni in scadenza tra 7-14 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-clipboard-check green my-icon"></i>
            <p class="m-0 fw-bold">{{ nRevisioniScadenzaLungoTermine }}<span class="fw-normal"> revisioni in scadenza tra 15-30 giorni</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isRevisioniScadute ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isRevisioniScadute ? 'red ' : 'grey'">
            {{
              isRevisioniScadute
                ? "Ci sono " + nRevisioniScadute + " veicoli non revisionati"
                : "Non ci sono revisioni scadute"
            }}
          </span>
        </div>
      </div>
    </div>

    <!--Sinistri     
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">Sinistri</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/red-tank.png"
              alt="tank-icon"
              class="custom-icons red"
            /><span class="">{{ nBomboleScadenzaBreveTermine }}</span>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/yellow-tank.png"
              alt="tank-icon"
              class="custom-icons yellow"
            /><span class="">{{ nBomboleScadenzaMedioTermine }}</span>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/green-tank.png"
              alt="tank-icon"
              class="custom-icons green"
            /><span class="">{{ nBomboleScadenzaLungoTermine }}</span>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isBomboleScadute ? 'red' : 'grey'"
          ></i>
          Ci sono
          <span [ngClass]="isBomboleScadute ? 'red ' : 'grey'">
            {{
              isBomboleScadute
                ? nBomboleScadute + " bombole non revisionate"
                : "Non ci sono bombole da revisionare"
            }}</span
          >
        </div>
      </div>
    </div>??   FORSE NO SU DASHBOARD-->

    <!--Assicurazione   ??-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Assicurazioni</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-shield-halved orange my-icon"></i>
            <p class="m-0 fw-bold">{{ nAssicurazioniScadenzaBreveTermine }}<span class="fw-normal"> assicurazioni in scadenza tra 0-6 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-shield-halved yellow my-icon"></i>
            <p class="m-0 fw-bold">{{ nAssicurazioniScadenzaMedioTermine }}<span class="fw-normal"> assicurazioni in scadenza tra 7-14 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-shield-halved green my-icon"></i>
            <p class="m-0 fw-bold">{{ nAssicurazioniScadenzaLungoTermine }}<span class="fw-normal"> assicurazioni in scadenza tra 15-30 giorni</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isAssicurazioniScadute ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isAssicurazioniScadute ? 'red ' : 'grey'">
            {{
              isAssicurazioniScadute
                ? "Ci sono " + nAssicurazioniScadute + " assicurazioni scadute"
                : "Non ci sono assicurazioni scadute"
            }}</span
          >
        </div>
      </div>
    </div>

    <!--Atp-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Atp</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-truck-droplet orange my-icon"></i>
            <p class="m-0 fw-bold">{{ nAtpScadenzaBreveTermine }}<span class="fw-normal"> certificati in scadenza tra 0-6 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-truck-droplet yellow my-icon"></i>
            <p class="m-0 fw-bold">{{ nAtpScadenzaMedioTermine }}<span class="fw-normal"> certificati in scadenza tra 7-14 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-truck-droplet green my-icon"></i>
            <p class="m-0 fw-bold">{{ nAtpScadenzaLungoTermine }}<span class="fw-normal"> certificati in scadenza tra 15-30 giorni</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isAtpScaduti ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isAtpScaduti ? 'red ' : 'grey'">
            {{
              isAtpScaduti
                ? "Ci sono " + nAtpScaduti + " certificati Atp scaduti"
                : "Non ci sono certificati Atp scaduti"
            }}</span
          >
        </div>
      </div>
    </div>

    <!--Bollo-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Bolli</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-stamp orange my-icon"></i>
            <p class="m-0 fw-bold">{{ nBolliScadenzaBreveTermine }}<span class="fw-normal"> bolli in scadenza tra 0-6 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-stamp yellow my-icon"></i>
            <p class="m-0 fw-bold">{{ nBolliScadenzaMedioTermine }}<span class="fw-normal"> bolli in scadenza tra 7-14 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-stamp green my-icon"></i>
            <p class="m-0 fw-bold">{{ nBolliScadenzaLungoTermine }}<span class="fw-normal"> bolli in scadenza tra 15-30 giorni</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isBolliScaduti ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isBolliScaduti ? 'red ' : 'grey'">
            {{
              isBolliScaduti
                ? "Ci sono " + nBolliScaduti + " bolli scaduti"
                : "Non ci sono bolli scaduti"
            }}</span
          >
        </div>
      </div>
    </div>

    <!--Bombole-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Bombole</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/red-tank.png"
              alt="tank-icon"
              class="custom-icons orange"
            /><p class="m-0 fw-bold">{{ nBomboleScadenzaBreveTermine }}<span class="fw-normal"> bombole da revisionare tra 0-6 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/yellow-tank.png"
              alt="tank-icon"
              class="custom-icons yellow"
            /><p class="m-0 fw-bold">{{ nBomboleScadenzaMedioTermine }}<span class="fw-normal"> bombole da revisionare tra 7-14 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/green-tank.png"
              alt="tank-icon"
              class="custom-icons green"
            /><p class="m-0 fw-bold">{{ nBomboleScadenzaLungoTermine }}<span class="fw-normal"> bombole da revisionare tra 15-30 giorni</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isBomboleScadute ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isBomboleScadute ? 'red ' : 'grey'">
            {{
              isBomboleScadute
                ? "Ci sono " + nBomboleScadute + " bombole con la revisione scaduta"
                : "Non ci sono bombole con la revisione scaduta"
            }}</span
          >
        </div>
      </div>
    </div>

    <!--Interventi
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">Interventi</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/red-tank.png"
              alt="tank-icon"
              class="custom-icons red"
            /><span class="">{{ nBomboleScadenzaBreveTermine }}</span>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/yellow-tank.png"
              alt="tank-icon"
              class="custom-icons yellow"
            /><span class="">{{ nBomboleScadenzaMedioTermine }}</span>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <img
              src="../../../assets/icons/green-tank.png"
              alt="tank-icon"
              class="custom-icons green"
            /><span class="">{{ nBomboleScadenzaLungoTermine }}</span>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isBomboleScadute ? 'red' : 'grey'"
          ></i>
          Ci sono
          <span [ngClass]="isBomboleScadute ? 'red ' : 'grey'">
            {{
              isBomboleScadute
                ? nBomboleScadute + " bombole non revisionate"
                : "Non ci sono bombole da revisionare"
            }}</span
          >
        </div>
      </div>
    </div>-->

    <!--Tachigrafi    revisione/taratura?-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Tachigrafi</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-stopwatch orange my-icon"></i>
            <p class="m-0 fw-bold">{{ nTachigrafiScadenzaBreveTermine }}<span class="fw-normal"> tachigrafi da revisionare tra 0-6 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-stopwatch yellow my-icon"></i>
            <p class="m-0 fw-bold">{{ nTachigrafiScadenzaMedioTermine }}<span class="fw-normal"> tachigrafi da revisionare tra 7-14 giorni</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-stopwatch green my-icon"></i>
            <p class="m-0 fw-bold">{{ nTachigrafiScadenzaLungoTermine }}<span class="fw-normal"> tachigrafi da revisionare tra 15-30 giorni</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isTachigrafiScaduti ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isTachigrafiScaduti ? 'red ' : 'grey'">
            {{
              isTachigrafiScaduti
                ? "Ci sono " + nTachigrafiScaduti + " tachigrafi non revisionati"
                : "Non ci sono tachigrafi con la revisione scaduta"
            }}</span
          >
        </div>
      </div>
    </div>

    <!--Tagliando-->
    <div class="col">
      <div class="card mb-3">
        <div class="card-header fst-italic">Tagliandi</div>
        <div class="card-body d-flex flex-column justify-content-evenly">
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-screwdriver-wrench orange my-icon"></i>
            <p class="m-0 fw-bold">{{ nTagliandiScadenzaBreveTermine }}<span class="fw-normal"> tagliandi in scadenza tra 0-6 giorni??</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-screwdriver-wrench yellow my-icon"></i
              >
            <p class="m-0 fw-bold">{{ nTagliandiScadenzaMedioTermine }}<span class="fw-normal"> tagliandi in scadenza tra 7-14 giorni??</span></p>
          </div>
          <div class="d-flex justify-content-evenly align-items-center">
            <i class="fa-solid fa-screwdriver-wrench green my-icon"></i
              >
            <p class="m-0 fw-bold">{{ nTagliandiScadenzaLungoTermine }}<span class="fw-normal"> tagliandi in scadenza tra 15-30 giorni??</span></p>
          </div>
        </div>

        <div class="card-footer bg-transparent">
          <i
            class="fa-solid fa-circle-exclamation"
            [ngClass]="isTagliandiScaduti ? 'red' : 'grey'"
          ></i>
          <span [ngClass]="isTagliandiScaduti ? 'red ' : 'grey'">
            {{
              isTagliandiScaduti
                ? "Ci sono " + nTagliandiScaduti + " veicoli che non hanno eseguito il tagliando periodico"
                : "Non ci sono tagliandi urgenti"
            }}</span
          >
        </div>
      </div>
    </div>

    <!-- GRAFICI--------------------------------------------------------------------------------
      
      <Line Chart Card --------
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">Sinistri</div>
        <div class="card-body text-success">
          <canvas id="lineChartCanvas"></canvas>
          <-- Line Chart Canvas --------
        </div>
        <div class="card-footer bg-transparent">Footer</div>
      </div>
    </div>

     <--Torta
     <div class="col">
      <div class="card mb-3">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
          <div class="w-100 h-100 d-flex justify-content-center">
            <canvas
              baseChart
              [data]="pieChartData"
              [type]="pieChartType"
              [options]="pieChartOptions"
            >
            </canvas>
          </div>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>
    </div>--------------------------------------------------------------------------------fine grafici--->
  </div>
</div>
