.card-body{
align-items: flex-start;
}

canvas{
    width: 100%;
    height: 100%;
}

.card{
    transition: box-shadow 0.3s ease;
}
.card:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.custom-icons{
    width: 2em;
}
.custom-icons{
    margin: 1em;
}

@media screen and (min-width: 576px) {
    canvas{
    }
}

.my-icon{
    font-size: 2em;
    margin: 0.5em;
}
.red{
    color: #ff0000 !important;
}
.orange{
    color: #ff6000 !important;
}
.yellow{
    color:#ffa200 !important;
}
.green{
color: #24923A !important;
}
.grey{
    color:grey !important;
}
.card{
    border: 0 !important;
}
.card-header{
    text-align: center;
}

.container{
    margin: 2em 0;
}
.card-header{
    background-color: rgb(4 12 41 / 11%);
}

.bord-success{
    border-bottom: 1px solid blue !important;
}

//<a href="https://www.flaticon.com/free-icons/gas" title="gas icons">Gas icons created by smashingstocks - Flaticon</a>