<div class="row row-cols-2 row-cols-md-3 g-4">
  <!--Torta-->
  <div class="col">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">Header</div>
      <div class="card-body text-success">
        <div class="w-100 h-100 d-flex justify-content-center">
          <canvas
            baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="pieChartOptions"
          >
          </canvas>
        </div>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div>

  <!--Revisioni-->
  <div class="col">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">Revisioni</div>
      <div
        class="card-body text-success d-flex flex-column justify-content-evenly"
      >
        <div class="d-flex justify-content-evenly">
          <i class="fa-solid fa-screwdriver-wrench red"></i>
          <span class="red fw-bold">89</span>
        </div>
        <div class="d-flex justify-content-evenly">
          <i class="fa-solid fa-screwdriver-wrench yellow"></i
          ><span class="yellow fw-bold">100</span>
        </div>
        <div class="d-flex justify-content-evenly">
          <i class="fa-solid fa-screwdriver-wrench green"></i
          ><span class="green fw-bold">378</span>
        </div>
      </div>
      <div class="card-footer bg-transparent border-success">
        <i class="fa-solid fa-circle-exclamation red"></i>
        Ci sono TOT veicoli non revisionati
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">Header</div>
      <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div>
  <div class="col">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">Header</div>
      <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div>

  <div class="col">
    <div class="card border-success mb-3">
      <div class="card-header bg-transparent border-success">Header</div>
      <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div>
</div>
