.card-body{
//height: 18rem;
align-items: flex-start;
}

canvas{
    width: 100%;
    height: 100%;
}

.card{
    transition: box-shadow 0.3s ease;
}
.card:hover{
    box-shadow: 5px 5px 5px 5px grey;
}
.custom-icons{
    width: 2em;
}
.custom-icons{
    margin: 1em;
}


@media screen and (min-width: 576px) {
    canvas{

    }
}

.my-icon{
    font-size: 2em;
    margin: 0.5em;
}
.red{
    color: #FF0000 !important;
}
.yellow{
    color:#ffa200 !important;
}
.green{
color: #24923A !important;
}
.grey{
    color:grey !important;
}
.card{
    border: 0 !important;
}

.container{
    margin: 2em 0;
}
.card-header{
    background-color: #779eb65e;
}

//<div> Icons made by <a href="https://www.flaticon.com/authors/abdul-aziz" title="Abdul-Aziz"> Abdul-Aziz </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>